In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import csv
import requests
import os
from zipfile import ZipFile
from datetime import date, datetime

In [2]:
yearDate = date.today().strftime('%m%d%y')
print(str(datetime.now()) + " Running 5_COVID_Hospital_ICU_Process")
print(yearDate)

2020-11-16 12:34:46.836806 Running 5_COVID_Hospital_ICU_Process
111620

In [3]:
dataFile_icu = "data/ICU/ICU_BedsCounty1_data{}.csv".format(yearDate)
dataFile_newhosp = "data/ICU/COVID_Hospitalizations_County1_data{}.csv".format(yearDate)
dataFile_hp = "data/ICU/Hospital_BedsCounty1_data{}.csv".format(yearDate)

In [4]:
df_ICU = pd.read_csv(dataFile_icu, sep=',',encoding='utf-8')
df_ICU.head()

       County                Measure Names  Measure Values
0  WASHINGTON  Total PediatricICU Capacity             0.0
1      WALTON  Total PediatricICU Capacity             0.0
2     VOLUSIA  Total PediatricICU Capacity             0.0
3       UNION  Total PediatricICU Capacity             0.0
4      TAYLOR  Total PediatricICU Capacity             0.0

In [5]:
df_newhosp = pd.read_csv(dataFile_newhosp,sep=',',encoding='utf-8')
df_newhosp.head()

       County  COVID Hospitalizations
0  WASHINGTON                       5
1      WALTON                       8
2     VOLUSIA                      62
3       UNION                       2
4      TAYLOR                       0

In [6]:
df_hp = pd.read_csv(dataFile_hp, sep=',',encoding='utf-8')
df_hp.head()

       County               Measure Names  Measure Values
0  WASHINGTON  Total Staffed Bed Capacity            59.0
1      WALTON  Total Staffed Bed Capacity           115.0
2     VOLUSIA  Total Staffed Bed Capacity          1544.0
3       UNION  Total Staffed Bed Capacity            75.0
4      TAYLOR  Total Staffed Bed Capacity            12.0

In [7]:
df_ICU_pivot = pd.pivot_table(df_ICU,values='Measure Values',index= 'County',columns = 'Measure Names',aggfunc=np.sum)
df_ICU_pivot.head()

Measure Names,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity
County,,,,,,,,
ALACHUA,251.0,57.0,0.185065,8.0,0.170213,39.0,308.0,47.0
BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
BAY,60.0,0.0,0.000000,2.0,0.500000,2.0,60.0,4.0
BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
BREVARD,124.0,43.0,0.257485,0.0,0.000000,0.0,167.0,0.0

In [8]:
df_hp_pivot = pd.pivot_table(df_hp,values='Measure Values',index= 'County',columns = 'Measure Names',aggfunc=np.sum)
df_hp_pivot.head()

Measure Names,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity
County,,,,
ALACHUA,287.0,0.164282,1460.0,1747.0
BAKER,114.0,0.182400,511.0,625.0
BAY,100.0,0.181818,450.0,550.0
BRADFORD,5.0,0.500000,5.0,10.0
BREVARD,506.0,0.312346,1114.0,1620.0

In [11]:
df_merge = pd.merge(df_ICU_pivot, df_hp_pivot, left_on=['County'],right_on=['County'], how ='outer')
df_merge2 = pd.merge(df_merge, df_newhosp, left_on=['County'],right_on= ['County'], how = 'outer')
df_merge2.head()

,County,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity,COVID Hospitalizations
0,ALACHUA,251.0,57.0,0.185065,8.0,0.170213,39.0,308.0,47.0,287.0,0.164282,1460.0,1747.0,83
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,114.0,0.182400,511.0,625.0,0
2,BAY,60.0,0.0,0.000000,2.0,0.500000,2.0,60.0,4.0,100.0,0.181818,450.0,550.0,24
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0
4,BREVARD,124.0,43.0,0.257485,0.0,0.000000,0.0,167.0,0.0,506.0,0.312346,1114.0,1620.0,79

In [14]:
df_merge_sum = df_merge2.append(df_merge2.sum(numeric_only=True), ignore_index=True)

In [17]:
df_merge_sum['County'] = df_merge_sum['County'].replace(np.nan, 'A State')
df_merge_sum.iat[58,3] = df_merge_sum.iloc[58][2]/df_merge_sum.iloc[58][7]
df_merge_sum.iat[58,5] = df_merge_sum.iloc[58][4]/df_merge_sum.iloc[58][8]
df_merge_sum.iat[58,10] = df_merge_sum.iloc[58][9]/df_merge_sum.iloc[58][12]

In [18]:
df_merge_sum

,County,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity,COVID Hospitalizations
0,ALACHUA,251.0,57.0,0.185065,8.0,0.170213,39.0,308.0,47.0,287.0,0.164282,1460.0,1747.0,83.0
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,114.0,0.182400,511.0,625.0,0.0
2,BAY,60.0,0.0,0.000000,2.0,0.500000,2.0,60.0,4.0,100.0,0.181818,450.0,550.0,24.0
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0
4,BREVARD,124.0,43.0,0.257485,0.0,0.000000,0.0,167.0,0.0,506.0,0.312346,1114.0,1620.0,79.0
5,BROWARD,354.0,107.0,0.232104,34.0,0.395349,52.0,461.0,86.0,1133.0,0.218010,4064.0,5197.0,284.0
6,CALHOUN,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,2.0,0.100000,18.0,20.0,0.0
7,CHARLOTTE,50.0,5.0,0.090909,0.0,0.000000,0.0,55.0,0.0,198.0,0.316294,428.0,626.0,44.0
8,CITRUS,34.0,6.0,0.150000,0.0,0.000000,0.0,40.0,0.0,76.0,0.242038,238.0,314.0,47.0
9,CLAY,38.0,10.0,0.208333,2.0,0.500000,2.0,48.0,4.0,157.0,0.253226,463.0,620.0,29.0
10,COLLIER,59.0,26.0,0.305882,0.0,0.000000,0.0,85.0,0.0,141.0,0.164912,714.0,855.0,64.0
11,COLUMBIA,13.0,0.0,0.000000,0.0,0.000000,0.0,13.0,0.0,0.0,0.000000,101.0,101.0,16.0
12,DESOTO,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,17.0,0.309091,38.0,55.0,7.0
13,DUVAL,320.0,113.0,0.260970,22.0,0.550000,18.0,433.0,40.0,1066.0,0.281936,2715.0,3781.0,180.0
14,ESCAMBIA,108.0,33.0,0.234043,13.0,0.812500,3.0,141.0,16.0,404.0,0.277473,1052.0,1456.0,71.0
15,FLAGLER,14.0,4.0,0.222222,0.0,0.000000,0.0,18.0,0.0,4.0,0.040404,95.0,99.0,11.0
16,FRANKLIN,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,13.0,0.866667,2.0,15.0,0.0
17,GADSDEN,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,401.0,0.420776,552.0,953.0,0.0
18,GULF,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,15.0,0.714286,6.0,21.0,0.0
19,HARDEE,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,2.0,0.080000,23.0,25.0,0.0
20,HENDRY,0.0,4.0,1.000000,0.0,0.000000,0.0,4.0,0.0,25.0,0.862069,4.0,29.0,0.0
21,HERNANDO,52.0,10.0,0.161290,0.0,0.000000,0.0,62.0,0.0,167.0,0.227211,568.0,735.0,57.0
22,HIGHLANDS,25.0,3.0,0.107143,0.0,0.000000,0.0,28.0,0.0,48.0,0.183908,213.0,261.0,68.0
23,HILLSBOROUGH,318.0,84.0,0.208955,17.0,0.425000,23.0,402.0,40.0,904.0,0.221297,3181.0,4085.0,224.0
24,HOLMES,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,6.0,0.300000,14.0,20.0,1.0
25,INDIAN RIVER,14.0,14.0,0.500000,0.0,0.000000,0.0,28.0,0.0,149.0,0.333333,298.0,447.0,14.0
26,JACKSON,9.0,4.0,0.307692,0.0,0.000000,0.0,13.0,0.0,47.0,0.474747,52.0,99.0,22.0
27,LAKE,69.0,36.0,0.342857,0.0,0.000000,0.0,105.0,0.0,245.0,0.265439,678.0,923.0,49.0
28,LEE,100.0,41.0,0.290780,36.0,0.418605,50.0,141.0,86.0,360.0,0.200111,1439.0,1799.0,73.0
29,LEON,66.0,6.0,0.083333,5.0,0.555556,4.0,72.0,9.0,99.0,0.115385,759.0,858.0,38.0
30,MADISON,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,6.0,0.400000,9.0,15.0,0.0
31,MANATEE,56.0,17.0,0.232877,0.0,0.000000,0.0,73.0,0.0,125.0,0.164908,633.0,758.0,34.0
32,MARION,74.0,6.0,0.075000,0.0,0.000000,0.0,80.0,0.0,113.0,0.126682,779.0,892.0,54.0
33,MARTIN,13.0,9.0,0.409091,0.0,0.000000,0.0,22.0,0.0,158.0,0.370023,269.0,427.0,13.0
34,MIAMI-DADE,744.0,204.0,0.215190,49.0,0.449541,60.0,948.0,109.0,2378.0,0.275487,6254.0,8632.0,465.0
35,MONROE,8.0,5.0,0.384615,0.0,0.000000,0.0,13.0,0.0,92.0,0.547619,76.0,168.0,10.0
36,NASSAU,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,23.0,0.338235,45.0,68.0,3.0
37,OKALOOSA,48.0,6.0,0.111111,0.0,0.000000,0.0,54.0,0.0,112.0,0.247241,341.0,453.0,47.0
38,OKEECHOBEE,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,47.0,0.470000,53.0,100.0,4.0
39,ORANGE,249.0,151.0,0.377500,54.0,0.428571,72.0,400.0,126.0,1234.0,0.280200,3170.0,4404.0,163.0
40,OSCEOLA,82.0,41.0,0.333333,0.0,0.000000,0.0,123.0,0.0,309.0,0.269398,838.0,1147.0,85.0
41,PALM BEACH,235.0,164.0,0.411028,21.0,0.656250,11.0,399.0,32.0,1284.0,0.319006,2741.0,4025.0,235.0
42,PASCO,124.0,9.0,0.067669,0.0,0.000000,0.0,133.0,0.0,222.0,0.165179,1122.0,1344.0,75.0
43,PINELLAS,253.0,82.0,0.244776,5.0,0.138889,31.0,335.0,36.0,999.0,0.304945,2277.0,3276.0,156.0
44,POLK,116.0,65.0,0.359116,2.0,0.142857,12.0,181.0,14.0,446.0,0.266587,1227.0,1673.0,99.0
45,PUTNAM,8.0,2.0,0.200000,0.0,0.000000,0.0,10.0,0.0,26.0,0.309524,58.0,84.0,10.0
46,SANTA ROSA,11.0,11.0,0.500000,0.0,0.000000,0.0,22.0,0.0,226.0,0.642045,126.0,352.0,13.0
47,SARASOTA,73.0,38.0,0.342342,0.0,0.000000,0.0,111.0,0.0,211.0,0.172668,1011.0,1222.0,102.0
48,SEMINOLE,64.0,9.0,0.123288,0.0,0.000000,0.0,73.0,0.0,225.0,0.241158,708.0,933.0,47.0
49,ST. JOHNS,24.0,20.0,0.454545,0.0,0.000000,0.0,44.0,0.0,139.0,0.419940,192.0,331.0,10.0
50,ST. LUCIE,66.0,24.0,0.266667,4.0,0.666667,2.0,90.0,6.0,185.0,0.217391,666.0,851.0,40.0
51,SUMTER,32.0,8.0,0.200000,0.0,0.000000,0.0,40.0,0.0,92.0,0.265130,255.0,347.0,12.0
52,SUWANNEE,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
53,TAYLOR,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,10.0,0.833333,2.0,12.0,0.0
54,UNION,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,28.0,0.373333,47.0,75.0,2.0
55,VOLUSIA,151.0,88.0,0.368201,0.0,0.000000,0.0,239.0,0.0,485.0,0.314119,1059.0,1544.0,62.0
56,WALTON,13.0,10.0,0.434783,0.0,0.000000,0.0,23.0,0.0,60.0,0.521739,55.0,115.0,8.0
57,WASHINGTON,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,10.0,0.169492,49.0,59.0,5.0
58,A State,4543.0,1578.0,0.257801,274.0,0.418321,381.0,6121.0,655.0,15936.0,0.260167,45317.0,61253.0,3239.0

In [19]:
result_folder = 'results/{}'.format(yearDate)
if not os.path.exists(result_folder):
    os.makedirs(result_folder)

In [20]:
df_merge_sum.to_excel(os.path.join(result_folder,"FL_County_Hospital_ICU{}.xlsx".format(yearDate)))

In [21]:
df_merge_sum['Avail_ICU']=(df_merge_sum['Available Adult ICU'] + df_merge_sum['Available Pediatric ICU'])
df_rename = df_merge_sum.rename(columns={"Adult ICU Census":"AICU_Census", "Available Adult ICU":"AICU_Avail",\
                                      "Available Adult ICU%":"A_ICU", "Pediatric ICU Census":"PICU_Census",\
                                      "Available Pediatric ICU":"PICU_Avail","Available Pediatric ICU%":"P_ICU",\
                                      "Total AdultICU Capacity":"T_AICU", "Total PediatricICU Capacity":"T_PICU",\
                                      "Available":"Bed_Avail", "Available Capacity":"Bed_AP",\
                                      "Total Staffed Bed Capacity":"T_bed", 'COVID Hospitalizations':'New_hosp'})
df_rename.head()

,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,Bed_Avail,Bed_AP,Bed Census,T_bed,New_hosp,Avail_ICU
0,ALACHUA,251.0,57.0,0.185065,8.0,0.170213,39.0,308.0,47.0,287.0,0.164282,1460.0,1747.0,83.0,65.0
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,114.0,0.182400,511.0,625.0,0.0,0.0
2,BAY,60.0,0.0,0.000000,2.0,0.500000,2.0,60.0,4.0,100.0,0.181818,450.0,550.0,24.0,2.0
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0
4,BREVARD,124.0,43.0,0.257485,0.0,0.000000,0.0,167.0,0.0,506.0,0.312346,1114.0,1620.0,79.0,43.0

In [22]:
df_rename['COUNTYNAME'] = df_rename.loc[:, 'County']
df_rename['County']= df_rename['County'].str.title()

In [23]:
df_rename.loc[df_rename['County']=='A State','County']='State'
df_reset_index = df_rename.reset_index()
df_reset_index

,index,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,Bed_Avail,Bed_AP,Bed Census,T_bed,New_hosp,Avail_ICU,COUNTYNAME
0,0,Alachua,251.0,57.0,0.185065,8.0,0.170213,39.0,308.0,47.0,287.0,0.164282,1460.0,1747.0,83.0,65.0,ALACHUA
1,1,Baker,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,114.0,0.182400,511.0,625.0,0.0,0.0,BAKER
2,2,Bay,60.0,0.0,0.000000,2.0,0.500000,2.0,60.0,4.0,100.0,0.181818,450.0,550.0,24.0,2.0,BAY
3,3,Bradford,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0,BRADFORD
4,4,Brevard,124.0,43.0,0.257485,0.0,0.000000,0.0,167.0,0.0,506.0,0.312346,1114.0,1620.0,79.0,43.0,BREVARD
5,5,Broward,354.0,107.0,0.232104,34.0,0.395349,52.0,461.0,86.0,1133.0,0.218010,4064.0,5197.0,284.0,141.0,BROWARD
6,6,Calhoun,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,2.0,0.100000,18.0,20.0,0.0,0.0,CALHOUN
7,7,Charlotte,50.0,5.0,0.090909,0.0,0.000000,0.0,55.0,0.0,198.0,0.316294,428.0,626.0,44.0,5.0,CHARLOTTE
8,8,Citrus,34.0,6.0,0.150000,0.0,0.000000,0.0,40.0,0.0,76.0,0.242038,238.0,314.0,47.0,6.0,CITRUS
9,9,Clay,38.0,10.0,0.208333,2.0,0.500000,2.0,48.0,4.0,157.0,0.253226,463.0,620.0,29.0,12.0,CLAY
10,10,Collier,59.0,26.0,0.305882,0.0,0.000000,0.0,85.0,0.0,141.0,0.164912,714.0,855.0,64.0,26.0,COLLIER
11,11,Columbia,13.0,0.0,0.000000,0.0,0.000000,0.0,13.0,0.0,0.0,0.000000,101.0,101.0,16.0,0.0,COLUMBIA
12,12,Desoto,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,17.0,0.309091,38.0,55.0,7.0,1.0,DESOTO
13,13,Duval,320.0,113.0,0.260970,22.0,0.550000,18.0,433.0,40.0,1066.0,0.281936,2715.0,3781.0,180.0,135.0,DUVAL
14,14,Escambia,108.0,33.0,0.234043,13.0,0.812500,3.0,141.0,16.0,404.0,0.277473,1052.0,1456.0,71.0,46.0,ESCAMBIA
15,15,Flagler,14.0,4.0,0.222222,0.0,0.000000,0.0,18.0,0.0,4.0,0.040404,95.0,99.0,11.0,4.0,FLAGLER
16,16,Franklin,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,13.0,0.866667,2.0,15.0,0.0,0.0,FRANKLIN
17,17,Gadsden,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,401.0,0.420776,552.0,953.0,0.0,0.0,GADSDEN
18,18,Gulf,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,15.0,0.714286,6.0,21.0,0.0,0.0,GULF
19,19,Hardee,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,2.0,0.080000,23.0,25.0,0.0,0.0,HARDEE
20,20,Hendry,0.0,4.0,1.000000,0.0,0.000000,0.0,4.0,0.0,25.0,0.862069,4.0,29.0,0.0,4.0,HENDRY
21,21,Hernando,52.0,10.0,0.161290,0.0,0.000000,0.0,62.0,0.0,167.0,0.227211,568.0,735.0,57.0,10.0,HERNANDO
22,22,Highlands,25.0,3.0,0.107143,0.0,0.000000,0.0,28.0,0.0,48.0,0.183908,213.0,261.0,68.0,3.0,HIGHLANDS
23,23,Hillsborough,318.0,84.0,0.208955,17.0,0.425000,23.0,402.0,40.0,904.0,0.221297,3181.0,4085.0,224.0,101.0,HILLSBOROUGH
24,24,Holmes,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,6.0,0.300000,14.0,20.0,1.0,0.0,HOLMES
25,25,Indian River,14.0,14.0,0.500000,0.0,0.000000,0.0,28.0,0.0,149.0,0.333333,298.0,447.0,14.0,14.0,INDIAN RIVER
26,26,Jackson,9.0,4.0,0.307692,0.0,0.000000,0.0,13.0,0.0,47.0,0.474747,52.0,99.0,22.0,4.0,JACKSON
27,27,Lake,69.0,36.0,0.342857,0.0,0.000000,0.0,105.0,0.0,245.0,0.265439,678.0,923.0,49.0,36.0,LAKE
28,28,Lee,100.0,41.0,0.290780,36.0,0.418605,50.0,141.0,86.0,360.0,0.200111,1439.0,1799.0,73.0,77.0,LEE
29,29,Leon,66.0,6.0,0.083333,5.0,0.555556,4.0,72.0,9.0,99.0,0.115385,759.0,858.0,38.0,11.0,LEON
30,30,Madison,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,6.0,0.400000,9.0,15.0,0.0,0.0,MADISON
31,31,Manatee,56.0,17.0,0.232877,0.0,0.000000,0.0,73.0,0.0,125.0,0.164908,633.0,758.0,34.0,17.0,MANATEE
32,32,Marion,74.0,6.0,0.075000,0.0,0.000000,0.0,80.0,0.0,113.0,0.126682,779.0,892.0,54.0,6.0,MARION
33,33,Martin,13.0,9.0,0.409091,0.0,0.000000,0.0,22.0,0.0,158.0,0.370023,269.0,427.0,13.0,9.0,MARTIN
34,34,Miami-Dade,744.0,204.0,0.215190,49.0,0.449541,60.0,948.0,109.0,2378.0,0.275487,6254.0,8632.0,465.0,253.0,MIAMI-DADE
35,35,Monroe,8.0,5.0,0.384615,0.0,0.000000,0.0,13.0,0.0,92.0,0.547619,76.0,168.0,10.0,5.0,MONROE
36,36,Nassau,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,23.0,0.338235,45.0,68.0,3.0,1.0,NASSAU
37,37,Okaloosa,48.0,6.0,0.111111,0.0,0.000000,0.0,54.0,0.0,112.0,0.247241,341.0,453.0,47.0,6.0,OKALOOSA
38,38,Okeechobee,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,47.0,0.470000,53.0,100.0,4.0,1.0,OKEECHOBEE
39,39,Orange,249.0,151.0,0.377500,54.0,0.428571,72.0,400.0,126.0,1234.0,0.280200,3170.0,4404.0,163.0,205.0,ORANGE
40,40,Osceola,82.0,41.0,0.333333,0.0,0.000000,0.0,123.0,0.0,309.0,0.269398,838.0,1147.0,85.0,41.0,OSCEOLA
41,41,Palm Beach,235.0,164.0,0.411028,21.0,0.656250,11.0,399.0,32.0,1284.0,0.319006,2741.0,4025.0,235.0,185.0,PALM BEACH
42,42,Pasco,124.0,9.0,0.067669,0.0,0.000000,0.0,133.0,0.0,222.0,0.165179,1122.0,1344.0,75.0,9.0,PASCO
43,43,Pinellas,253.0,82.0,0.244776,5.0,0.138889,31.0,335.0,36.0,999.0,0.304945,2277.0,3276.0,156.0,87.0,PINELLAS
44,44,Polk,116.0,65.0,0.359116,2.0,0.142857,12.0,181.0,14.0,446.0,0.266587,1227.0,1673.0,99.0,67.0,POLK
45,45,Putnam,8.0,2.0,0.200000,0.0,0.000000,0.0,10.0,0.0,26.0,0.309524,58.0,84.0,10.0,2.0,PUTNAM
46,46,Santa Rosa,11.0,11.0,0.500000,0.0,0.000000,0.0,22.0,0.0,226.0,0.642045,126.0,352.0,13.0,11.0,SANTA ROSA
47,47,Sarasota,73.0,38.0,0.342342,0.0,0.000000,0.0,111.0,0.0,211.0,0.172668,1011.0,1222.0,102.0,38.0,SARASOTA
48,48,Seminole,64.0,9.0,0.123288,0.0,0.000000,0.0,73.0,0.0,225.0,0.241158,708.0,933.0,47.0,9.0,SEMINOLE
49,49,St. Johns,24.0,20.0,0.454545,0.0,0.000000,0.0,44.0,0.0,139.0,0.419940,192.0,331.0,10.0,20.0,ST. JOHNS
50,50,St. Lucie,66.0,24.0,0.266667,4.0,0.666667,2.0,90.0,6.0,185.0,0.217391,666.0,851.0,40.0,28.0,ST. LUCIE
51,51,Sumter,32.0,8.0,0.200000,0.0,0.000000,0.0,40.0,0.0,92.0,0.265130,255.0,347.0,12.0,8.0,SUMTER
52,52,Suwannee,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,SUWANNEE
53,53,Taylor,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,10.0,0.833333,2.0,12.0,0.0,0.0,TAYLOR
54,54,Union,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,28.0,0.373333,47.0,75.0,2.0,0.0,UNION
55,55,Volusia,151.0,88.0,0.368201,0.0,0.000000,0.0,239.0,0.0,485.0,0.314119,1059.0,1544.0,62.0,88.0,VOLUSIA
56,56,Walton,13.0,10.0,0.434783,0.0,0.000000,0.0,23.0,0.0,60.0,0.521739,55.0,115.0,8.0,10.0,WALTON
57,57,Washington,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,10.0,0.169492,49.0,59.0,5.0,0.0,WASHINGTON
58,58,State,4543.0,1578.0,0.257801,274.0,0.418321,381.0,6121.0,655.0,15936.0,0.260167,45317.0,61253.0,3239.0,1852.0,A State

In [24]:
gdf_county_polygon = gpd.read_file("shp/Florida_Counties.shp")
gdf_county_polygon.head()

,OBJECTID,DEPCODE,COUNTY,COUNTYNAME,DATESTAMP,ShapeSTAre,ShapeSTLen,geometry
0,1,21,041,Gilchrist,2000-05-16,9.908353e+09,4.873000e+05,"POLYGON ((-82.65814 29.83028, -82.65803 29.822..."
1,2,54,107,Putnam,2000-05-16,2.305869e+10,7.629677e+05,"POLYGON ((-81.58084 29.83956, -81.57893 29.835..."
2,3,62,123,Taylor,2000-05-16,2.891747e+10,8.772527e+05,"MULTIPOLYGON (((-83.73037 30.30358, -83.70368 ..."
3,4,46,091,Okaloosa,2000-05-16,2.562159e+10,1.087058e+06,"MULTIPOLYGON (((-86.39159 30.64970, -86.39175 ..."
4,5,7,013,Calhoun,2000-05-16,1.604809e+10,6.313440e+05,"POLYGON ((-84.93266 30.60637, -84.93287 30.605..."

In [25]:
a = set(df_reset_index['County'].values)
b = set(gdf_county_polygon['COUNTYNAME'].values)
a.difference(b)

{'Miami-Dade', 'State'}

In [26]:
b.difference(a)

{'Dade',
 'Dixie',
 'Gilchrist',
 'Glades',
 'Hamilton',
 'Jefferson',
 'Lafayette',
 'Levy',
 'Liberty',
 'Wakulla'}

In [27]:
df_reset_index.loc[df_reset_index['County']=='Miami-Dade','County']='Dade'

In [28]:
a = set(df_reset_index['County'].values)
b = set(gdf_county_polygon['COUNTYNAME'].values)
a.difference(b)

{'State'}

In [29]:
df_merge_poly = pd.merge(df_reset_index, gdf_county_polygon, left_on = ['County'],right_on = ['COUNTYNAME'], how = 'outer')
df_merge_poly.head()

,index,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,...,Avail_ICU,COUNTYNAME_x,OBJECTID,DEPCODE,COUNTY,COUNTYNAME_y,DATESTAMP,ShapeSTAre,ShapeSTLen,geometry
0,0.0,Alachua,251.0,57.0,0.185065,8.0,0.170213,39.0,308.0,47.0,...,65.0,ALACHUA,66.0,1.0,001,Alachua,2000-05-16,2.702324e+10,8.927266e+05,"POLYGON ((-82.41869 29.92298, -82.41825 29.922..."
1,1.0,Baker,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,BAKER,17.0,2.0,003,Baker,2000-05-16,1.636216e+10,6.027173e+05,"POLYGON ((-82.05012 30.36233, -82.04949 30.316..."
2,2.0,Bay,60.0,0.0,0.000000,2.0,0.500000,2.0,60.0,4.0,...,2.0,BAY,15.0,3.0,005,Bay,2000-05-16,2.084232e+10,1.834701e+06,"MULTIPOLYGON (((-85.38551 30.50018, -85.38650 ..."
3,3.0,Bradford,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,BRADFORD,40.0,4.0,007,Bradford,2000-05-16,8.359863e+09,5.483267e+05,"POLYGON ((-82.04939 30.14322, -82.04938 30.143..."
4,4.0,Brevard,124.0,43.0,0.257485,0.0,0.000000,0.0,167.0,0.0,...,43.0,BREVARD,42.0,5.0,009,Brevard,2000-05-16,2.893695e+10,2.600567e+06,"MULTIPOLYGON (((-80.80666 28.61413, -80.80790 ..."

In [34]:
df_merge_poly1 = df_merge_poly.drop(columns=['OBJECTID','DEPCODE','COUNTY','DATESTAMP','COUNTYNAME_y','ShapeSTLen','ShapeSTAre'])
df_merge_poly2 = df_merge_poly1.rename(columns={"COUNTYNAME_x": "COUNTYNAME"})
df_merge_poly2.head(59)

,index,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,Bed_Avail,Bed_AP,Bed Census,T_bed,New_hosp,Avail_ICU,COUNTYNAME,geometry
0,0.0,Alachua,251.0,57.0,0.185065,8.0,0.170213,39.0,308.0,47.0,287.0,0.164282,1460.0,1747.0,83.0,65.0,ALACHUA,"POLYGON ((-82.41869 29.92298, -82.41825 29.922..."
1,1.0,Baker,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,114.0,0.182400,511.0,625.0,0.0,0.0,BAKER,"POLYGON ((-82.05012 30.36233, -82.04949 30.316..."
2,2.0,Bay,60.0,0.0,0.000000,2.0,0.500000,2.0,60.0,4.0,100.0,0.181818,450.0,550.0,24.0,2.0,BAY,"MULTIPOLYGON (((-85.38551 30.50018, -85.38650 ..."
3,3.0,Bradford,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0,BRADFORD,"POLYGON ((-82.04939 30.14322, -82.04938 30.143..."
4,4.0,Brevard,124.0,43.0,0.257485,0.0,0.000000,0.0,167.0,0.0,506.0,0.312346,1114.0,1620.0,79.0,43.0,BREVARD,"MULTIPOLYGON (((-80.80666 28.61413, -80.80790 ..."
5,5.0,Broward,354.0,107.0,0.232104,34.0,0.395349,52.0,461.0,86.0,1133.0,0.218010,4064.0,5197.0,284.0,141.0,BROWARD,"MULTIPOLYGON (((-80.22680 26.33478, -80.20374 ..."
6,6.0,Calhoun,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,2.0,0.100000,18.0,20.0,0.0,0.0,CALHOUN,"POLYGON ((-84.93266 30.60637, -84.93287 30.605..."
7,7.0,Charlotte,50.0,5.0,0.090909,0.0,0.000000,0.0,55.0,0.0,198.0,0.316294,428.0,626.0,44.0,5.0,CHARLOTTE,"MULTIPOLYGON (((-81.97884 27.03517, -81.96591 ..."
8,8.0,Citrus,34.0,6.0,0.150000,0.0,0.000000,0.0,40.0,0.0,76.0,0.242038,238.0,314.0,47.0,6.0,CITRUS,"MULTIPOLYGON (((-82.47957 29.05252, -82.47889 ..."
9,9.0,Clay,38.0,10.0,0.208333,2.0,0.500000,2.0,48.0,4.0,157.0,0.253226,463.0,620.0,29.0,12.0,CLAY,"POLYGON ((-81.68008 30.12155, -81.67981 30.119..."
10,10.0,Collier,59.0,26.0,0.305882,0.0,0.000000,0.0,85.0,0.0,141.0,0.164912,714.0,855.0,64.0,26.0,COLLIER,"MULTIPOLYGON (((-81.27162 26.51694, -81.27169 ..."
11,11.0,Columbia,13.0,0.0,0.000000,0.0,0.000000,0.0,13.0,0.0,0.0,0.000000,101.0,101.0,16.0,0.0,COLUMBIA,"POLYGON ((-82.45969 30.58238, -82.45951 30.575..."
12,12.0,Desoto,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,17.0,0.309091,38.0,55.0,7.0,1.0,DESOTO,"POLYGON ((-81.56373 27.34062, -81.56368 27.297..."
13,13.0,Duval,320.0,113.0,0.260970,22.0,0.550000,18.0,433.0,40.0,1066.0,0.281936,2715.0,3781.0,180.0,135.0,DUVAL,"MULTIPOLYGON (((-81.61645 30.58005, -81.61605 ..."
14,14.0,Escambia,108.0,33.0,0.234043,13.0,0.812500,3.0,141.0,16.0,404.0,0.277473,1052.0,1456.0,71.0,46.0,ESCAMBIA,"MULTIPOLYGON (((-87.23131 30.99697, -87.16265 ..."
15,15.0,Flagler,14.0,4.0,0.222222,0.0,0.000000,0.0,18.0,0.0,4.0,0.040404,95.0,99.0,11.0,4.0,FLAGLER,"MULTIPOLYGON (((-81.25710 29.66409, -81.25486 ..."
16,16.0,Franklin,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,13.0,0.866667,2.0,15.0,0.0,0.0,FRANKLIN,"MULTIPOLYGON (((-84.66713 30.01168, -84.60119 ..."
17,17.0,Gadsden,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,401.0,0.420776,552.0,953.0,0.0,0.0,GADSDEN,"POLYGON ((-84.28258 30.68506, -84.28327 30.684..."
18,18.0,Gulf,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,15.0,0.714286,6.0,21.0,0.0,0.0,GULF,"POLYGON ((-85.11578 30.19982, -85.11594 30.199..."
19,19.0,Hardee,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,2.0,0.080000,23.0,25.0,0.0,0.0,HARDEE,"POLYGON ((-81.56331 27.64668, -81.56318 27.637..."
20,20.0,Hendry,0.0,4.0,1.000000,0.0,0.000000,0.0,4.0,0.0,25.0,0.862069,4.0,29.0,0.0,4.0,HENDRY,"POLYGON ((-80.88153 26.33374, -80.88155 26.331..."
21,21.0,Hernando,52.0,10.0,0.161290,0.0,0.000000,0.0,62.0,0.0,167.0,0.227211,568.0,735.0,57.0,10.0,HERNANDO,"MULTIPOLYGON (((-82.63694 28.69441, -82.61674 ..."
22,22.0,Highlands,25.0,3.0,0.107143,0.0,0.000000,0.0,28.0,0.0,48.0,0.183908,213.0,261.0,68.0,3.0,HIGHLANDS,"POLYGON ((-81.14219 27.64321, -81.14232 27.642..."
23,23.0,Hillsborough,318.0,84.0,0.208955,17.0,0.425000,23.0,402.0,40.0,904.0,0.221297,3181.0,4085.0,224.0,101.0,HILLSBOROUGH,"MULTIPOLYGON (((-82.42818 28.17123, -82.41819 ..."
24,24.0,Holmes,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,6.0,0.300000,14.0,20.0,1.0,0.0,HOLMES,"POLYGON ((-85.49917 30.99561, -85.49948 30.995..."
25,25.0,Indian River,14.0,14.0,0.500000,0.0,0.000000,0.0,28.0,0.0,149.0,0.333333,298.0,447.0,14.0,14.0,INDIAN RIVER,"MULTIPOLYGON (((-80.47330 27.82504, -80.47146 ..."
26,26.0,Jackson,9.0,4.0,0.307692,0.0,0.000000,0.0,13.0,0.0,47.0,0.474747,52.0,99.0,22.0,4.0,JACKSON,"POLYGON ((-84.86455 30.71148, -84.85885 30.700..."
27,27.0,Lake,69.0,36.0,0.342857,0.0,0.000000,0.0,105.0,0.0,245.0,0.265439,678.0,923.0,49.0,36.0,LAKE,"POLYGON ((-81.36723 28.87904, -81.36726 28.878..."
28,28.0,Lee,100.0,41.0,0.290780,36.0,0.418605,50.0,141.0,86.0,360.0,0.200111,1439.0,1799.0,73.0,77.0,LEE,"MULTIPOLYGON (((-82.00271 26.77009, -81.99981 ..."
29,29.0,Leon,66.0,6.0,0.083333,5.0,0.555556,4.0,72.0,9.0,99.0,0.115385,759.0,858.0,38.0,11.0,LEON,"POLYGON ((-84.00743 30.67207, -84.00758 30.661..."
30,30.0,Madison,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,6.0,0.400000,9.0,15.0,0.0,0.0,MADISON,"POLYGON ((-83.30934 30.63458, -83.30952 30.634..."
31,31.0,Manatee,56.0,17.0,0.232877,0.0,0.000000,0.0,73.0,0.0,125.0,0.164908,633.0,758.0,34.0,17.0,MANATEE,"MULTIPOLYGON (((-82.53143 27.64554, -82.50548 ..."
32,32.0,Marion,74.0,6.0,0.075000,0.0,0.000000,0.0,80.0,0.0,113.0,0.126682,779.0,892.0,54.0,6.0,MARION,"POLYGON ((-81.68072 29.32457, -81.68030 29.323..."
33,33.0,Martin,13.0,9.0,0.409091,0.0,0.000000,0.0,22.0,0.0,158.0,0.370023,269.0,427.0,13.0,9.0,MARTIN,"MULTIPOLYGON (((-80.28442 27.20553, -80.28038 ..."
34,34.0,Dade,744.0,204.0,0.215190,49.0,0.449541,60.0,948.0,109.0,2378.0,0.275487,6254.0,8632.0,465.0,253.0,MIAMI-DADE,"MULTIPOLYGON (((-80.87314 25.97944, -80.83695 ..."
35,35.0,Monroe,8.0,5.0,0.384615,0.0,0.000000,0.0,13.0,0.0,92.0,0.547619,76.0,168.0,10.0,5.0,MONROE,"MULTIPOLYGON (((-80.87319 25.80568, -80.87317 ..."
36,36.0,Nassau,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,23.0,0.338235,45.0,68.0,3.0,1.0,NASSAU,"MULTIPOLYGON (((-81.89151 30.81683, -81.89148 ..."
37,37.0,Okaloosa,48.0,6.0,0.111111,0.0,0.000000,0.0,54.0,0.0,112.0,0.247241,341.0,453.0,47.0,6.0,OKALOOSA,"MULTIPOLYGON (((-86.39159 30.64970, -86.39175 ..."
38,38.0,Okeechobee,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,47.0,0.470000,53.0,100.0,4.0,1.0,OKEECHOBEE,"POLYGON ((-80.67932 27.55849, -80.67956 27.525..."
39,39.0,Orange,249.0,151.0,0.377500,54.0,0.428571,72.0,400.0,126.0,1234.0,0.280200,3170.0,4404.0,163.0,205.0,ORANGE,"POLYGON ((-81.41468 28.78575, -81.41450 28.785..."
40,40.0,Osceola,82.0,41.0,0.333333,0.0,0.000000,0.0,123.0,0.0,309.0,0.269398,838.0,1147.0,85.0,41.0,OSCEOLA,"POLYGON ((-80.86327 28.34771, -80.86252 28.296..."
41,41.0,Palm Beach,235.0,164.0,0.411028,21.0,0.656250,11.0,399.0,32.0,1284.0,0.319006,2741.0,4025.0,235.0,185.0,PALM BEACH,"MULTIPOLYGON (((-80.11190 26.97069, -80.11128 ..."
42,42.0,Pasco,124.0,9.0,0.067669,0.0,0.000000,0.0,133.0,0.0,222.0,0.165179,1122.0,1344.0,75.0,9.0,PASCO,"MULTIPOLYGON (((-82.05534 28.44896, -82.05546 ..."
43,43.0,Pinellas,253.0,82.0,0.244776,5.0,0.138889,31.0,335.0,36.0,999.0,0.304945,2277.0,3276.0,156.0,87.0,PINELLAS,"MULTIPOLYGON (((-82.74982 28.17327, -82.74060 ..."
44,44.0,Polk,116.0,65.0,0.359116,2.0,0.142857,12.0,181.0,14.0,446.0,0.266587,1227.0,1673.0,99.0,67.0,POLK,"POLYGON ((-81.65737 28.34704, -81.65736 28.346..."
45,45.0,Putnam,8.0,2.0,0.200000,0.0,0.000000,0.0,10.0,0.0,26.0,0.309524,58.0,84.0,10.0,2.0,PUTNAM,"POLYGON ((-81.58084 29.83956, -81.57893 29.835..."
46,46.0,Santa Rosa,11.0,11.0,0.500000,0.0,0.000000,0.0,22.0,0.0,226.0,0.642045,126.0,352.0,13.0,11.0,SANTA ROSA,"POLYGON ((-87.16265 30.99702, -87.15682 30.997..."
47,47.0,Sarasota,73.0,38.0,0.342342,0.0,0.000000,0.0,111.0,0.0,211.0,0.172668,1011.0,1222.0,102.0,38.0,SARASOTA,"MULTIPOLYGON (((-82.52941 27.38867, -82.49982 ..."
48,48.0,Seminole,64.0,9.0,0.123288,0.0,0.000000,0.0,73.0,0.0,225.0,0.241158,708.0,933.0,47.0,9.0,SEMINOLE,"POLYGON ((-81.03482 28.71969, -81.03453 28.719..."
49,49.0,St. Johns,24.0,20.0,0.454545,0.0,0.000000,0.0,44.0,0.0,139.0,0.419940,192.0,331.0,10.0,20.0,ST. JOHNS,"MULTIPOLYGON (((-81.37788 30.10790, -81.37593 ..."
50,50.0,St. Lucie,66.0,24.0,0.266667,4.0,0.666667,2.0,90.0,6.0,185.0,0.217391,666.0,851.0,40.0,28.0,ST. LUCIE,"MULTIPOLYGON (((-80.23992 27.26519, -80.23885 ..."
51,51.0,Sumter,32.0,8.0,0.200000,0.0,0.000000,0.0,40.0,0.0,92.0,0.265130,255.0,347.0,12.0,8.0,SUMTER,"POLYGON ((-81.95433 28.96002, -81.95433 28.959..."
52,52.0,Suwannee,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,SUWANNEE,"POLYGON ((-82.99987 30.43035, -82.99899 30.430..."
53,53.0,Taylor,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,10.0,0.833333,2.0,12.0,0.0,0.0,TAYLOR,"MULTIPOLYGON (((-83.73037 30.30358, -83.70368 ..."
54,54.0,Union,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,28.0,0.373333,47.0,75.0,2.0,0.0,UNION,"POLYGON ((-82.14258 30.14285, -82.14266 30.142..."
55,55.0,Volusia,151.0,88.0,0.368201,0.0,0.000000,0.0,239.0,0.0,485.0,0.314119,1059.0,1544.0,62.0,88.0,VOLUSIA,"MULTIPOLYGON (((-81.09705 29.35180, -81.09292 ..."
56,56.0,Walton,13.0,10.0,0.434783,0.0,0.000000,0.0,23.0,0.0,60.0,0.521739,55.0,115.0,8.0,10.0,WALTON,"POLYGON ((-86.03523 30.98825, -86.03532 30.982..."
57,57.0,Washington,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,10.0,0.169492,49.0,59.0,5.0,0.0,WASHINGTON,"POLYGON ((-85.43543 30.56727, -85.46843 30.567..."
58,58.0,State,4543.0,1578.0,0.257801,274.0,0.418321,381.0,6121.0,655.0,15936.0,0.260167,45317.0,61253.0,3239.0,1852.0,A State,None

In [31]:
shpfile_name = "Florida_County_Hospital_ICU{}".format(yearDate)
print("Saving {}.shp in results/".format(shpfile_name))
gdf_merge = gpd.GeoDataFrame(df_merge_poly2, geometry='geometry',crs="EPSG:4326")
gdf_merge.to_file(os.path.join(result_folder,"{}.shp".format(shpfile_name)))

Saving Florida_County_Hospital_ICU111620.shp in results/

In [32]:
print("Saving {}.zip in publish/".format(shpfile_name))
with ZipFile(os.path.join('publish', '{}.zip'.format(shpfile_name)), 'w') as zipObj:
    for file in os.listdir(result_folder):
        if shpfile_name in file:
            file_path = os.path.join(result_folder, file)
            print(file)
            try:
                zipObj.write(file_path, os.path.basename(file_path))
            except OSError as err:
                print("OS error: {0}".format(err))

Saving Florida_County_Hospital_ICU111620.zip in publish/
Florida_County_Hospital_ICU111620.prj
Florida_County_Hospital_ICU111620.shx
Florida_County_Hospital_ICU111620.cpg
Florida_County_Hospital_ICU111620.shp
Florida_County_Hospital_ICU111620.dbf

In [33]:
print(str(datetime.now()) + " Done with 5_COVID_Hospital_ICU_Process")

2020-11-16 12:35:36.304837 Done with 5_COVID_Hospital_ICU_Process