In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import csv
import requests
import os
from zipfile import ZipFile
from datetime import date, datetime

In [2]:
yearDate = date.today().strftime('%m%d%y')
print(str(datetime.now()) + " Running 5_COVID_Hospital_ICU_Process")
print(yearDate)

2020-11-15 12:48:19.852204 Running 5_COVID_Hospital_ICU_Process
111520

In [3]:
dataFile_icu = "data/ICU/ICU_BedsCounty1_data{}.csv".format(yearDate)
dataFile_newhosp = "data/ICU/COVID_Hospitalizations_County1_data{}.csv".format(yearDate)
dataFile_hp = "data/ICU/Hospital_BedsCounty1_data{}.csv".format(yearDate)

In [4]:
df_ICU = pd.read_csv(dataFile_icu, sep=',',encoding='utf-8')
df_ICU.head()

       County                Measure Names  Measure Values
0  WASHINGTON  Total PediatricICU Capacity             0.0
1      WALTON  Total PediatricICU Capacity             0.0
2     VOLUSIA  Total PediatricICU Capacity             0.0
3       UNION  Total PediatricICU Capacity             0.0
4      TAYLOR  Total PediatricICU Capacity             0.0

In [5]:
df_newhosp = pd.read_csv(dataFile_newhosp,sep=',',encoding='utf-8')
df_newhosp.head()

       County  COVID Hospitalizations
0  WASHINGTON                       6
1      WALTON                       7
2     VOLUSIA                      61
3       UNION                       2
4      TAYLOR                       0

In [6]:
df_hp = pd.read_csv(dataFile_hp, sep=',',encoding='utf-8')
df_hp.head()

       County               Measure Names  Measure Values
0  WASHINGTON  Total Staffed Bed Capacity            59.0
1      WALTON  Total Staffed Bed Capacity           115.0
2     VOLUSIA  Total Staffed Bed Capacity          1534.0
3       UNION  Total Staffed Bed Capacity            76.0
4      TAYLOR  Total Staffed Bed Capacity            12.0

In [7]:
df_ICU_pivot = pd.pivot_table(df_ICU,values='Measure Values',index= 'County',columns = 'Measure Names',aggfunc=np.sum)
df_ICU_pivot.head()

Measure Names,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity
County,,,,,,,,
ALACHUA,276.0,34.0,0.109677,8.0,0.170213,39.0,310.0,47.0
BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
BAY,54.0,0.0,0.000000,4.0,1.000000,0.0,54.0,4.0
BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
BREVARD,120.0,47.0,0.281437,0.0,0.000000,0.0,167.0,0.0

In [8]:
df_hp_pivot = pd.pivot_table(df_hp,values='Measure Values',index= 'County',columns = 'Measure Names',aggfunc=np.sum)
df_hp_pivot.head()

Measure Names,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity
County,,,,
ALACHUA,237.0,0.136285,1502.0,1739.0
BAKER,116.0,0.185600,509.0,625.0
BAY,96.0,0.176796,447.0,543.0
BRADFORD,5.0,0.500000,5.0,10.0
BREVARD,528.0,0.323728,1103.0,1631.0

In [9]:
df_merge = pd.merge(df_ICU_pivot, df_hp_pivot, left_on=  ['County'],right_on= ['County'], how = 'outer')
df_merge.head()

Measure Names,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity
County,,,,,,,,,,,,
ALACHUA,276.0,34.0,0.109677,8.0,0.170213,39.0,310.0,47.0,237.0,0.136285,1502.0,1739.0
BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,116.0,0.185600,509.0,625.0
BAY,54.0,0.0,0.000000,4.0,1.000000,0.0,54.0,4.0,96.0,0.176796,447.0,543.0
BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0
BREVARD,120.0,47.0,0.281437,0.0,0.000000,0.0,167.0,0.0,528.0,0.323728,1103.0,1631.0

In [10]:
df_merge_2 = pd.merge(df_merge, df_newhosp, left_on=  ['County'],right_on= ['County'], how = 'outer')
df_merge_2.head()

,County,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity,COVID Hospitalizations
0,ALACHUA,276.0,34.0,0.109677,8.0,0.170213,39.0,310.0,47.0,237.0,0.136285,1502.0,1739.0,72
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,116.0,0.185600,509.0,625.0,0
2,BAY,54.0,0.0,0.000000,4.0,1.000000,0.0,54.0,4.0,96.0,0.176796,447.0,543.0,23
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0
4,BREVARD,120.0,47.0,0.281437,0.0,0.000000,0.0,167.0,0.0,528.0,0.323728,1103.0,1631.0,73

In [11]:
df_merge_3 = df_merge_2.append(df_merge_2.sum(numeric_only=True), ignore_index=True)

In [12]:
df_merge_3['County'] = df_merge_3['County'].replace(np.nan, 'A State')
df_merge_3.iat[58,3] = df_merge_3.iloc[58][2]/df_merge_3.iloc[58][7]
df_merge_3.iat[58,5] = df_merge_3.iloc[58][4]/df_merge_3.iloc[58][8]
df_merge_3.iat[58,10] = df_merge_3.iloc[58][9]/df_merge_3.iloc[58][12]

In [13]:
df_merge_3

,County,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity,COVID Hospitalizations
0,ALACHUA,276.0,34.0,0.109677,8.0,0.170213,39.0,310.0,47.0,237.0,0.136285,1502.0,1739.0,72.0
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,116.0,0.185600,509.0,625.0,0.0
2,BAY,54.0,0.0,0.000000,4.0,1.000000,0.0,54.0,4.0,96.0,0.176796,447.0,543.0,23.0
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0
4,BREVARD,120.0,47.0,0.281437,0.0,0.000000,0.0,167.0,0.0,528.0,0.323728,1103.0,1631.0,73.0
5,BROWARD,356.0,106.0,0.229437,36.0,0.444444,45.0,462.0,81.0,1124.0,0.216947,4057.0,5181.0,284.0
6,CALHOUN,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,20.0,20.0,0.0
7,CHARLOTTE,49.0,4.0,0.075472,0.0,0.000000,0.0,53.0,0.0,187.0,0.310116,416.0,603.0,45.0
8,CITRUS,33.0,6.0,0.153846,0.0,0.000000,0.0,39.0,0.0,43.0,0.146259,251.0,294.0,40.0
9,CLAY,39.0,11.0,0.220000,3.0,0.750000,1.0,50.0,4.0,94.0,0.168157,465.0,559.0,28.0
10,COLLIER,59.0,26.0,0.305882,0.0,0.000000,0.0,85.0,0.0,152.0,0.178404,700.0,852.0,63.0
11,COLUMBIA,12.0,0.0,0.000000,0.0,0.000000,0.0,12.0,0.0,0.0,0.000000,102.0,102.0,14.0
12,DESOTO,8.0,0.0,0.000000,0.0,0.000000,0.0,8.0,0.0,24.0,0.436364,31.0,55.0,7.0
13,DUVAL,309.0,131.0,0.297727,21.0,0.525000,19.0,440.0,40.0,1097.0,0.292455,2654.0,3751.0,189.0
14,ESCAMBIA,110.0,31.0,0.219858,13.0,0.812500,3.0,141.0,16.0,392.0,0.269231,1064.0,1456.0,76.0
15,FLAGLER,14.0,4.0,0.222222,0.0,0.000000,0.0,18.0,0.0,6.0,0.060606,93.0,99.0,9.0
16,FRANKLIN,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,14.0,0.933333,1.0,15.0,0.0
17,GADSDEN,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,385.0,0.403987,568.0,953.0,0.0
18,GULF,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,16.0,0.761905,5.0,21.0,0.0
19,HARDEE,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,2.0,0.080000,23.0,25.0,0.0
20,HENDRY,0.0,4.0,1.000000,0.0,0.000000,0.0,4.0,0.0,23.0,0.793103,6.0,29.0,0.0
21,HERNANDO,49.0,13.0,0.209677,0.0,0.000000,0.0,62.0,0.0,199.0,0.270748,536.0,735.0,64.0
22,HIGHLANDS,26.0,3.0,0.103448,0.0,0.000000,0.0,29.0,0.0,34.0,0.130268,227.0,261.0,72.0
23,HILLSBOROUGH,318.0,81.0,0.203008,16.0,0.432432,21.0,399.0,37.0,961.0,0.232014,3181.0,4142.0,219.0
24,HOLMES,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,6.0,0.300000,14.0,20.0,1.0
25,INDIAN RIVER,16.0,13.0,0.448276,0.0,0.000000,0.0,29.0,0.0,141.0,0.309211,315.0,456.0,12.0
26,JACKSON,9.0,4.0,0.307692,0.0,0.000000,0.0,13.0,0.0,46.0,0.455446,55.0,101.0,21.0
27,LAKE,56.0,48.0,0.461538,0.0,0.000000,0.0,104.0,0.0,265.0,0.291529,644.0,909.0,40.0
28,LEE,107.0,33.0,0.235714,33.0,0.383721,53.0,140.0,86.0,345.0,0.191560,1456.0,1801.0,74.0
29,LEON,67.0,5.0,0.069444,5.0,0.555556,4.0,72.0,9.0,113.0,0.131855,744.0,857.0,35.0
30,MADISON,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,8.0,0.533333,7.0,15.0,0.0
31,MANATEE,59.0,14.0,0.191781,0.0,0.000000,0.0,73.0,0.0,138.0,0.182540,618.0,756.0,33.0
32,MARION,73.0,13.0,0.151163,0.0,0.000000,0.0,86.0,0.0,136.0,0.152296,757.0,893.0,47.0
33,MARTIN,14.0,9.0,0.391304,0.0,0.000000,0.0,23.0,0.0,158.0,0.369159,270.0,428.0,8.0
34,MIAMI-DADE,684.0,222.0,0.245033,49.0,0.449541,60.0,906.0,109.0,2548.0,0.294124,6115.0,8663.0,437.0
35,MONROE,8.0,5.0,0.384615,0.0,0.000000,0.0,13.0,0.0,88.0,0.517647,82.0,170.0,9.0
36,NASSAU,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,26.0,0.382353,42.0,68.0,3.0
37,OKALOOSA,42.0,12.0,0.222222,0.0,0.000000,0.0,54.0,0.0,114.0,0.253898,335.0,449.0,40.0
38,OKEECHOBEE,7.0,1.0,0.125000,0.0,0.000000,0.0,8.0,0.0,50.0,0.500000,50.0,100.0,5.0
39,ORANGE,260.0,140.0,0.350000,55.0,0.436508,71.0,400.0,126.0,1163.0,0.264138,3240.0,4403.0,162.0
40,OSCEOLA,89.0,34.0,0.276423,0.0,0.000000,0.0,123.0,0.0,312.0,0.273924,827.0,1139.0,83.0
41,PALM BEACH,232.0,169.0,0.421446,21.0,0.656250,11.0,401.0,32.0,1246.0,0.317048,2684.0,3930.0,221.0
42,PASCO,128.0,14.0,0.098592,0.0,0.000000,0.0,142.0,0.0,261.0,0.193477,1088.0,1349.0,73.0
43,PINELLAS,250.0,83.0,0.249249,5.0,0.138889,31.0,333.0,36.0,1007.0,0.308990,2252.0,3259.0,155.0
44,POLK,128.0,52.0,0.288889,2.0,0.142857,12.0,180.0,14.0,479.0,0.285119,1201.0,1680.0,96.0
45,PUTNAM,10.0,0.0,0.000000,0.0,0.000000,0.0,10.0,0.0,29.0,0.345238,55.0,84.0,9.0
46,SANTA ROSA,7.0,12.0,0.631579,0.0,0.000000,0.0,19.0,0.0,224.0,0.640000,126.0,350.0,14.0
47,SARASOTA,76.0,26.0,0.254902,0.0,0.000000,0.0,102.0,0.0,175.0,0.147804,1009.0,1184.0,86.0
48,SEMINOLE,67.0,6.0,0.082192,0.0,0.000000,0.0,73.0,0.0,220.0,0.236559,710.0,930.0,43.0
49,ST. JOHNS,20.0,24.0,0.545455,0.0,0.000000,0.0,44.0,0.0,161.0,0.486405,170.0,331.0,6.0
50,ST. LUCIE,63.0,27.0,0.300000,4.0,0.666667,2.0,90.0,6.0,203.0,0.238543,648.0,851.0,39.0
51,SUMTER,31.0,9.0,0.225000,0.0,0.000000,0.0,40.0,0.0,95.0,0.273775,252.0,347.0,12.0
52,SUWANNEE,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
53,TAYLOR,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,9.0,0.750000,3.0,12.0,0.0
54,UNION,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,30.0,0.394737,46.0,76.0,2.0
55,VOLUSIA,142.0,99.0,0.410788,0.0,0.000000,0.0,241.0,0.0,528.0,0.344198,1006.0,1534.0,61.0
56,WALTON,11.0,12.0,0.521739,0.0,0.000000,0.0,23.0,0.0,63.0,0.547826,52.0,115.0,7.0
57,WASHINGTON,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,10.0,0.169492,49.0,59.0,6.0
58,A State,4495.0,1588.0,0.261055,275.0,0.425039,372.0,6083.0,647.0,16132.0,0.264372,44888.0,61020.0,3118.0

In [14]:
result_folder = 'results/{}'.format(yearDate)
if not os.path.exists(result_folder):
    os.makedirs(result_folder)

In [15]:
df_merge_3.to_excel(os.path.join(result_folder,"FL_County_Hospital_ICU{}.xlsx".format(yearDate)))

In [16]:
df_merge_3['Avail_ICU']=(df_merge_3['Available Adult ICU'] + df_merge_3['Available Pediatric ICU'])
df_merge_3.head()

,County,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity,COVID Hospitalizations,Avail_ICU
0,ALACHUA,276.0,34.0,0.109677,8.0,0.170213,39.0,310.0,47.0,237.0,0.136285,1502.0,1739.0,72.0,42.0
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,116.0,0.185600,509.0,625.0,0.0,0.0
2,BAY,54.0,0.0,0.000000,4.0,1.000000,0.0,54.0,4.0,96.0,0.176796,447.0,543.0,23.0,4.0
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0
4,BREVARD,120.0,47.0,0.281437,0.0,0.000000,0.0,167.0,0.0,528.0,0.323728,1103.0,1631.0,73.0,47.0

In [17]:
df_rename = df_merge_3.rename(columns={"Adult ICU Census":"AICU_Census", "Available Adult ICU":"AICU_Avail",\
                                      "Available Adult ICU%":"A_ICU", "Pediatric ICU Census":"PICU_Census",\
                                      "Available Pediatric ICU":"PICU_Avail","Available Pediatric ICU%":"P_ICU",\
                                      "Total AdultICU Capacity":"T_AICU", "Total PediatricICU Capacity":"T_PICU",\
                                      "Available":"Bed_Avail", "Available Capacity":"Bed_AP",\
                                      "Total Staffed Bed Capacity":"T_bed", 'COVID Hospitalizations':'New_hosp'})
df_rename.head()

,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,Bed_Avail,Bed_AP,Bed Census,T_bed,New_hosp,Avail_ICU
0,ALACHUA,276.0,34.0,0.109677,8.0,0.170213,39.0,310.0,47.0,237.0,0.136285,1502.0,1739.0,72.0,42.0
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,116.0,0.185600,509.0,625.0,0.0,0.0
2,BAY,54.0,0.0,0.000000,4.0,1.000000,0.0,54.0,4.0,96.0,0.176796,447.0,543.0,23.0,4.0
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0
4,BREVARD,120.0,47.0,0.281437,0.0,0.000000,0.0,167.0,0.0,528.0,0.323728,1103.0,1631.0,73.0,47.0

In [18]:
df_reset_index = df_rename.reset_index()
df_reset_index['County']= df_reset_index['County'].str.title()
df_reset_index.head()

,index,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,Bed_Avail,Bed_AP,Bed Census,T_bed,New_hosp,Avail_ICU
0,0,Alachua,276.0,34.0,0.109677,8.0,0.170213,39.0,310.0,47.0,237.0,0.136285,1502.0,1739.0,72.0,42.0
1,1,Baker,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,116.0,0.185600,509.0,625.0,0.0,0.0
2,2,Bay,54.0,0.0,0.000000,4.0,1.000000,0.0,54.0,4.0,96.0,0.176796,447.0,543.0,23.0,4.0
3,3,Bradford,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0
4,4,Brevard,120.0,47.0,0.281437,0.0,0.000000,0.0,167.0,0.0,528.0,0.323728,1103.0,1631.0,73.0,47.0

In [19]:
gdf_county_polygon = gpd.read_file("shp/Florida_Counties.shp")
gdf_county_polygon.head()

,OBJECTID,DEPCODE,COUNTY,COUNTYNAME,DATESTAMP,ShapeSTAre,ShapeSTLen,geometry
0,1,21,041,Gilchrist,2000-05-16,9.908353e+09,4.873000e+05,"POLYGON ((-82.65814 29.83028, -82.65803 29.822..."
1,2,54,107,Putnam,2000-05-16,2.305869e+10,7.629677e+05,"POLYGON ((-81.58084 29.83956, -81.57893 29.835..."
2,3,62,123,Taylor,2000-05-16,2.891747e+10,8.772527e+05,"MULTIPOLYGON (((-83.73037 30.30358, -83.70368 ..."
3,4,46,091,Okaloosa,2000-05-16,2.562159e+10,1.087058e+06,"MULTIPOLYGON (((-86.39159 30.64970, -86.39175 ..."
4,5,7,013,Calhoun,2000-05-16,1.604809e+10,6.313440e+05,"POLYGON ((-84.93266 30.60637, -84.93287 30.605..."

In [20]:
a = set(df_reset_index['County'].values)
b = set(gdf_county_polygon['COUNTYNAME'].values)
a.difference(b)

{'A State', 'Miami-Dade'}

In [21]:
b.difference(a)

{'Dade',
 'Dixie',
 'Gilchrist',
 'Glades',
 'Hamilton',
 'Jefferson',
 'Lafayette',
 'Levy',
 'Liberty',
 'Wakulla'}

In [22]:
df_reset_index.loc[df_reset_index['County']=='Miami-Dade','County']='Dade'

In [23]:
a = set(df_reset_index['County'].values)
b = set(gdf_county_polygon['COUNTYNAME'].values)
a.difference(b)

{'A State'}

In [24]:
df_merge_poly = pd.merge(df_reset_index, gdf_county_polygon, left_on = ['County'],right_on = ['COUNTYNAME'], how = 'outer')
df_merge_poly

,index,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,...,New_hosp,Avail_ICU,OBJECTID,DEPCODE,COUNTY,COUNTYNAME,DATESTAMP,ShapeSTAre,ShapeSTLen,geometry
0,0.0,Alachua,276.0,34.0,0.109677,8.0,0.170213,39.0,310.0,47.0,...,72.0,42.0,66.0,1.0,001,Alachua,2000-05-16,2.702324e+10,8.927266e+05,"POLYGON ((-82.41869 29.92298, -82.41825 29.922..."
1,1.0,Baker,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,17.0,2.0,003,Baker,2000-05-16,1.636216e+10,6.027173e+05,"POLYGON ((-82.05012 30.36233, -82.04949 30.316..."
2,2.0,Bay,54.0,0.0,0.000000,4.0,1.000000,0.0,54.0,4.0,...,23.0,4.0,15.0,3.0,005,Bay,2000-05-16,2.084232e+10,1.834701e+06,"MULTIPOLYGON (((-85.38551 30.50018, -85.38650 ..."
3,3.0,Bradford,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,40.0,4.0,007,Bradford,2000-05-16,8.359863e+09,5.483267e+05,"POLYGON ((-82.04939 30.14322, -82.04938 30.143..."
4,4.0,Brevard,120.0,47.0,0.281437,0.0,0.000000,0.0,167.0,0.0,...,73.0,47.0,42.0,5.0,009,Brevard,2000-05-16,2.893695e+10,2.600567e+06,"MULTIPOLYGON (((-80.80666 28.61413, -80.80790 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.0,15.0,029,Dixie,2000-05-16,1.963495e+10,7.718929e+05,"MULTIPOLYGON (((-83.24986 29.82302, -83.23964 ..."
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,28.0,38.0,075,Levy,2000-05-16,3.122285e+10,1.113561e+06,"MULTIPOLYGON (((-82.92321 29.59089, -82.87460 ..."
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.0,34.0,067,Lafayette,2000-05-16,1.526457e+10,6.340132e+05,"POLYGON ((-83.24902 30.26044, -83.24970 30.260..."
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,41.0,65.0,129,Wakulla,2000-05-16,1.702251e+10,9.167339e+05,"MULTIPOLYGON (((-84.41197 30.30244, -84.37858 ..."
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,55.0,22.0,043,Glades,2000-05-16,2.747053e+10,7.769734e+05,"POLYGON ((-80.94082 27.20607, -80.94072 27.205..."

In [25]:
df_merge_poly1 = df_merge_poly.drop(columns=['OBJECTID','DEPCODE','COUNTY','DATESTAMP','ShapeSTLen','ShapeSTAre'])
df_merge_poly1.head()

,index,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,Bed_Avail,Bed_AP,Bed Census,T_bed,New_hosp,Avail_ICU,COUNTYNAME,geometry
0,0.0,Alachua,276.0,34.0,0.109677,8.0,0.170213,39.0,310.0,47.0,237.0,0.136285,1502.0,1739.0,72.0,42.0,Alachua,"POLYGON ((-82.41869 29.92298, -82.41825 29.922..."
1,1.0,Baker,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,116.0,0.185600,509.0,625.0,0.0,0.0,Baker,"POLYGON ((-82.05012 30.36233, -82.04949 30.316..."
2,2.0,Bay,54.0,0.0,0.000000,4.0,1.000000,0.0,54.0,4.0,96.0,0.176796,447.0,543.0,23.0,4.0,Bay,"MULTIPOLYGON (((-85.38551 30.50018, -85.38650 ..."
3,3.0,Bradford,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0,Bradford,"POLYGON ((-82.04939 30.14322, -82.04938 30.143..."
4,4.0,Brevard,120.0,47.0,0.281437,0.0,0.000000,0.0,167.0,0.0,528.0,0.323728,1103.0,1631.0,73.0,47.0,Brevard,"MULTIPOLYGON (((-80.80666 28.61413, -80.80790 ..."

In [27]:
shpfile_name = "Florida_County_Hospital_ICU{}".format(yearDate)
print("Saving {}.shp in results/".format(shpfile_name))
gdf_merge = gpd.GeoDataFrame(df_merge_poly1, geometry='geometry',crs="EPSG:4326")
gdf_merge.to_file(os.path.join(result_folder,"{}.shp".format(shpfile_name)))

Saving Florida_County_Hospital_ICU111520.shp in results/

In [29]:
print("Saving {}.zip in publish/".format(shpfile_name))
with ZipFile(os.path.join('publish', '{}.zip'.format(shpfile_name)), 'w') as zipObj:
    for file in os.listdir(result_folder):
        if shpfile_name in file:
            file_path = os.path.join(result_folder, file)
            print(file)
            try:
                zipObj.write(file_path, os.path.basename(file_path))
            except OSError as err:
                print("OS error: {0}".format(err))

Saving Florida_County_Hospital_ICU111520.zip in publish/
Florida_County_Hospital_ICU111520.prj
Florida_County_Hospital_ICU111520.dbf
Florida_County_Hospital_ICU111520.shx
Florida_County_Hospital_ICU111520.shp
Florida_County_Hospital_ICU111520.cpg

In [30]:
print(str(datetime.now()) + " Done with 5_COVID_Hospital_ICU_Process")

2020-11-15 12:48:40.398785 Done with 5_COVID_Hospital_ICU_Process