In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import csv
import requests
import os
from zipfile import ZipFile
from datetime import date

In [2]:
yearDate = date.today().strftime('%m%d%y')
print(yearDate)

111320

In [3]:
dataFile_icu = "data/ICU/ICU_BedsCounty1_data{}.csv".format(yearDate)
dataFile_newhosp = "data/ICU/COVID_Hospitalizations_County1_data{}.csv".format(yearDate)
dataFile_hp = "data/ICU/Hospital_BedsCounty1_data{}.csv".format(yearDate)

In [4]:
df_ICU = pd.read_csv(dataFile_icu, sep=',',encoding='utf-8')
df_ICU.head()

       County                Measure Names  Measure Values
0  WASHINGTON  Total PediatricICU Capacity             0.0
1      WALTON  Total PediatricICU Capacity             0.0
2     VOLUSIA  Total PediatricICU Capacity             0.0
3       UNION  Total PediatricICU Capacity             0.0
4      TAYLOR  Total PediatricICU Capacity             0.0

In [5]:
df_newhosp = pd.read_csv(dataFile_newhosp,sep=',',encoding='utf-8')
df_newhosp.head()

       County  COVID Hospitalizations
0  WASHINGTON                       5
1      WALTON                      14
2     VOLUSIA                      58
3       UNION                       2
4      TAYLOR                       0

In [6]:
df_hp = pd.read_csv(dataFile_hp, sep=',',encoding='utf-8')
df_hp.head()

       County               Measure Names  Measure Values
0  WASHINGTON  Total Staffed Bed Capacity            59.0
1      WALTON  Total Staffed Bed Capacity           115.0
2     VOLUSIA  Total Staffed Bed Capacity          1547.0
3       UNION  Total Staffed Bed Capacity            76.0
4      TAYLOR  Total Staffed Bed Capacity            12.0

In [7]:
df_ICU_pivot = pd.pivot_table(df_ICU,values='Measure Values',index= 'County',columns = 'Measure Names',aggfunc=np.sum)
df_ICU_pivot.head()

Measure Names,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity
County,,,,,,,,
ALACHUA,272.0,36.0,0.116883,8.0,0.170213,39.0,308.0,47.0
BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
BAY,55.0,0.0,0.000000,2.0,0.500000,2.0,55.0,4.0
BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
BREVARD,127.0,38.0,0.230303,0.0,0.000000,0.0,165.0,0.0

In [8]:
df_hp_pivot = pd.pivot_table(df_hp,values='Measure Values',index= 'County',columns = 'Measure Names',aggfunc=np.sum)
df_hp_pivot.head()

Measure Names,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity
County,,,,
ALACHUA,233.0,0.133524,1512.0,1745.0
BAKER,124.0,0.198400,501.0,625.0
BAY,95.0,0.168739,468.0,563.0
BRADFORD,5.0,0.500000,5.0,10.0
BREVARD,456.0,0.280615,1169.0,1625.0

In [9]:
df_merge = pd.merge(df_ICU_pivot, df_hp_pivot, left_on=  ['County'],right_on= ['County'], how = 'outer')
df_merge.head()

Measure Names,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity
County,,,,,,,,,,,,
ALACHUA,272.0,36.0,0.116883,8.0,0.170213,39.0,308.0,47.0,233.0,0.133524,1512.0,1745.0
BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,124.0,0.198400,501.0,625.0
BAY,55.0,0.0,0.000000,2.0,0.500000,2.0,55.0,4.0,95.0,0.168739,468.0,563.0
BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0
BREVARD,127.0,38.0,0.230303,0.0,0.000000,0.0,165.0,0.0,456.0,0.280615,1169.0,1625.0

In [10]:
df_merge_2 = pd.merge(df_merge, df_newhosp, left_on=  ['County'],right_on= ['County'], how = 'outer')
df_merge_2.head()

,County,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity,COVID Hospitalizations
0,ALACHUA,272.0,36.0,0.116883,8.0,0.170213,39.0,308.0,47.0,233.0,0.133524,1512.0,1745.0,69
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,124.0,0.198400,501.0,625.0,1
2,BAY,55.0,0.0,0.000000,2.0,0.500000,2.0,55.0,4.0,95.0,0.168739,468.0,563.0,28
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0
4,BREVARD,127.0,38.0,0.230303,0.0,0.000000,0.0,165.0,0.0,456.0,0.280615,1169.0,1625.0,78

In [11]:
df_merge_3 = df_merge_2.append(df_merge_2.sum(numeric_only=True), ignore_index=True)

In [12]:
df_merge_3['County'] = df_merge_3['County'].replace(np.nan, 'A State')
df_merge_3.iat[58,3] = df_merge_3.iloc[58][2]/df_merge_3.iloc[58][7]
df_merge_3.iat[58,5] = df_merge_3.iloc[58][4]/df_merge_3.iloc[58][8]
df_merge_3.iat[58,10] = df_merge_3.iloc[58][9]/df_merge_3.iloc[58][12]

In [13]:
df_merge_3

,County,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity,COVID Hospitalizations
0,ALACHUA,272.0,36.0,0.116883,8.0,0.170213,39.0,308.0,47.0,233.0,0.133524,1512.0,1745.0,69.0
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,124.0,0.198400,501.0,625.0,1.0
2,BAY,55.0,0.0,0.000000,2.0,0.500000,2.0,55.0,4.0,95.0,0.168739,468.0,563.0,28.0
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0
4,BREVARD,127.0,38.0,0.230303,0.0,0.000000,0.0,165.0,0.0,456.0,0.280615,1169.0,1625.0,78.0
5,BROWARD,386.0,89.0,0.187368,32.0,0.390244,50.0,475.0,82.0,924.0,0.176808,4302.0,5226.0,307.0
6,CALHOUN,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,11.0,11.0,0.0
7,CHARLOTTE,49.0,6.0,0.109091,0.0,0.000000,0.0,55.0,0.0,169.0,0.271704,453.0,622.0,50.0
8,CITRUS,34.0,6.0,0.150000,0.0,0.000000,0.0,40.0,0.0,59.0,0.193443,246.0,305.0,34.0
9,CLAY,40.0,11.0,0.215686,0.0,0.000000,4.0,51.0,4.0,67.0,0.121597,484.0,551.0,31.0
10,COLLIER,63.0,22.0,0.258824,0.0,0.000000,0.0,85.0,0.0,132.0,0.147157,765.0,897.0,69.0
11,COLUMBIA,15.0,0.0,0.000000,0.0,0.000000,0.0,15.0,0.0,0.0,0.000000,103.0,103.0,8.0
12,DESOTO,6.0,2.0,0.250000,0.0,0.000000,0.0,8.0,0.0,24.0,0.436364,31.0,55.0,2.0
13,DUVAL,358.0,68.0,0.159624,18.0,0.450000,22.0,426.0,40.0,807.0,0.214971,2947.0,3754.0,199.0
14,ESCAMBIA,120.0,21.0,0.148936,10.0,0.625000,6.0,141.0,16.0,344.0,0.236264,1112.0,1456.0,68.0
15,FLAGLER,15.0,3.0,0.166667,0.0,0.000000,0.0,18.0,0.0,5.0,0.050505,94.0,99.0,9.0
16,FRANKLIN,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,14.0,0.933333,1.0,15.0,0.0
17,GADSDEN,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,385.0,0.403987,568.0,953.0,0.0
18,GULF,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,14.0,0.666667,7.0,21.0,0.0
19,HARDEE,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,4.0,0.160000,21.0,25.0,0.0
20,HENDRY,0.0,4.0,1.000000,0.0,0.000000,0.0,4.0,0.0,18.0,0.666667,9.0,27.0,1.0
21,HERNANDO,47.0,15.0,0.241935,0.0,0.000000,0.0,62.0,0.0,195.0,0.265306,540.0,735.0,49.0
22,HIGHLANDS,27.0,5.0,0.156250,0.0,0.000000,0.0,32.0,0.0,40.0,0.150943,225.0,265.0,54.0
23,HILLSBOROUGH,321.0,73.0,0.185279,18.0,0.473684,20.0,394.0,38.0,828.0,0.202148,3268.0,4096.0,199.0
24,HOLMES,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,7.0,0.350000,13.0,20.0,0.0
25,INDIAN RIVER,18.0,12.0,0.400000,0.0,0.000000,0.0,30.0,0.0,108.0,0.236842,348.0,456.0,14.0
26,JACKSON,10.0,1.0,0.090909,0.0,0.000000,0.0,11.0,0.0,32.0,0.336842,63.0,95.0,26.0
27,LAKE,70.0,34.0,0.326923,0.0,0.000000,0.0,104.0,0.0,186.0,0.207589,710.0,896.0,41.0
28,LEE,114.0,26.0,0.185714,24.0,0.279070,62.0,140.0,86.0,246.0,0.136515,1556.0,1802.0,76.0
29,LEON,69.0,3.0,0.041667,6.0,0.666667,3.0,72.0,9.0,113.0,0.132164,742.0,855.0,30.0
30,MADISON,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.333333,10.0,15.0,0.0
31,MANATEE,65.0,9.0,0.121622,0.0,0.000000,0.0,74.0,0.0,123.0,0.160156,645.0,768.0,29.0
32,MARION,78.0,9.0,0.103448,0.0,0.000000,0.0,87.0,0.0,119.0,0.129348,801.0,920.0,40.0
33,MARTIN,14.0,9.0,0.391304,0.0,0.000000,0.0,23.0,0.0,140.0,0.327103,288.0,428.0,11.0
34,MIAMI-DADE,718.0,192.0,0.210989,47.0,0.415929,66.0,910.0,113.0,2206.0,0.254617,6458.0,8664.0,433.0
35,MONROE,9.0,4.0,0.307692,0.0,0.000000,0.0,13.0,0.0,83.0,0.477011,91.0,174.0,6.0
36,NASSAU,8.0,0.0,0.000000,0.0,0.000000,0.0,8.0,0.0,35.0,0.514706,33.0,68.0,2.0
37,OKALOOSA,45.0,9.0,0.166667,0.0,0.000000,0.0,54.0,0.0,79.0,0.175947,370.0,449.0,43.0
38,OKEECHOBEE,8.0,0.0,0.000000,0.0,0.000000,0.0,8.0,0.0,46.0,0.460000,54.0,100.0,5.0
39,ORANGE,281.0,117.0,0.293970,47.0,0.373016,79.0,398.0,126.0,976.0,0.220814,3444.0,4420.0,156.0
40,OSCEOLA,87.0,36.0,0.292683,0.0,0.000000,0.0,123.0,0.0,288.0,0.245315,886.0,1174.0,79.0
41,PALM BEACH,246.0,143.0,0.367609,21.0,0.656250,11.0,389.0,32.0,1086.0,0.267685,2971.0,4057.0,232.0
42,PASCO,126.0,14.0,0.100000,0.0,0.000000,0.0,140.0,0.0,203.0,0.149375,1156.0,1359.0,93.0
43,PINELLAS,275.0,56.0,0.169184,5.0,0.116279,38.0,331.0,43.0,936.0,0.283894,2361.0,3297.0,162.0
44,POLK,129.0,51.0,0.283333,4.0,0.285714,10.0,180.0,14.0,365.0,0.217004,1317.0,1682.0,91.0
45,PUTNAM,10.0,0.0,0.000000,0.0,0.000000,0.0,10.0,0.0,23.0,0.273810,61.0,84.0,11.0
46,SANTA ROSA,9.0,11.0,0.550000,0.0,0.000000,0.0,20.0,0.0,230.0,0.642458,128.0,358.0,8.0
47,SARASOTA,75.0,33.0,0.305556,0.0,0.000000,0.0,108.0,0.0,168.0,0.135922,1068.0,1236.0,86.0
48,SEMINOLE,64.0,9.0,0.123288,0.0,0.000000,0.0,73.0,0.0,208.0,0.218487,744.0,952.0,47.0
49,ST. JOHNS,24.0,20.0,0.454545,0.0,0.000000,0.0,44.0,0.0,140.0,0.422961,191.0,331.0,9.0
50,ST. LUCIE,77.0,13.0,0.144444,4.0,0.666667,2.0,90.0,6.0,121.0,0.140534,740.0,861.0,47.0
51,SUMTER,36.0,4.0,0.100000,0.0,0.000000,0.0,40.0,0.0,85.0,0.244957,262.0,347.0,17.0
52,SUWANNEE,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
53,TAYLOR,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,9.0,0.750000,3.0,12.0,0.0
54,UNION,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,32.0,0.421053,44.0,76.0,2.0
55,VOLUSIA,161.0,70.0,0.303030,0.0,0.000000,0.0,231.0,0.0,454.0,0.293471,1093.0,1547.0,58.0
56,WALTON,19.0,4.0,0.173913,0.0,0.000000,0.0,23.0,0.0,39.0,0.339130,76.0,115.0,14.0
57,WASHINGTON,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,10.0,0.169492,49.0,59.0,5.0
58,A State,4780.0,1288.0,0.212261,246.0,0.372727,414.0,6068.0,660.0,13843.0,0.225232,47618.0,61461.0,3129.0

In [14]:
result_folder = 'results/{}'.format(yearDate)
if not os.path.exists(result_folder):
    os.makedirs(result_folder)

In [15]:
df_merge_3.to_excel(os.path.join(result_folder,"FL_County_Hospital_ICU{}.xlsx".format(yearDate)))

In [16]:
df_merge_3['Avail_ICU']=(df_merge_3['Available Adult ICU'] + df_merge_3['Available Pediatric ICU'])
# (df['Total AdultICU Capacity'] + df['Total PediatricICU Capacity'])

# df['O_NICU'] = (df['Bed Census']-df['Adult ICU Census']-df['Pediatric ICU Census'])/\
# (df['Total Staffed Bed Capacity']-df['Total AdultICU Capacity']-df['Total PediatricICU Capacity'])
df_merge_3.head()

,County,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity,COVID Hospitalizations,Avail_ICU
0,ALACHUA,272.0,36.0,0.116883,8.0,0.170213,39.0,308.0,47.0,233.0,0.133524,1512.0,1745.0,69.0,44.0
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,124.0,0.198400,501.0,625.0,1.0,0.0
2,BAY,55.0,0.0,0.000000,2.0,0.500000,2.0,55.0,4.0,95.0,0.168739,468.0,563.0,28.0,2.0
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0
4,BREVARD,127.0,38.0,0.230303,0.0,0.000000,0.0,165.0,0.0,456.0,0.280615,1169.0,1625.0,78.0,38.0

In [17]:
df_rename = df_merge_3.rename(columns={"Adult ICU Census":"AICU_Census", "Available Adult ICU":"AICU_Avail",\
                                      "Available Adult ICU%":"A_ICU", "Pediatric ICU Census":"PICU_Census",\
                                      "Available Pediatric ICU":"PICU_Avail","Available Pediatric ICU%":"P_ICU",\
                                      "Total AdultICU Capacity":"T_AICU", "Total PediatricICU Capacity":"T_PICU",\
                                      "Available":"Bed_Avail", "Available Capacity":"Bed_AP",\
                                      "Total Staffed Bed Capacity":"T_bed", 'COVID Hospitalizations':'New_hosp'})
df_rename.head()

,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,Bed_Avail,Bed_AP,Bed Census,T_bed,New_hosp,Avail_ICU
0,ALACHUA,272.0,36.0,0.116883,8.0,0.170213,39.0,308.0,47.0,233.0,0.133524,1512.0,1745.0,69.0,44.0
1,BAKER,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,124.0,0.198400,501.0,625.0,1.0,0.0
2,BAY,55.0,0.0,0.000000,2.0,0.500000,2.0,55.0,4.0,95.0,0.168739,468.0,563.0,28.0,2.0
3,BRADFORD,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0
4,BREVARD,127.0,38.0,0.230303,0.0,0.000000,0.0,165.0,0.0,456.0,0.280615,1169.0,1625.0,78.0,38.0

In [18]:
df_reset_index = df_rename.reset_index()
df_reset_index['County']= df_reset_index['County'].str.title()
df_reset_index.head()

,index,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,Bed_Avail,Bed_AP,Bed Census,T_bed,New_hosp,Avail_ICU
0,0,Alachua,272.0,36.0,0.116883,8.0,0.170213,39.0,308.0,47.0,233.0,0.133524,1512.0,1745.0,69.0,44.0
1,1,Baker,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,124.0,0.198400,501.0,625.0,1.0,0.0
2,2,Bay,55.0,0.0,0.000000,2.0,0.500000,2.0,55.0,4.0,95.0,0.168739,468.0,563.0,28.0,2.0
3,3,Bradford,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0
4,4,Brevard,127.0,38.0,0.230303,0.0,0.000000,0.0,165.0,0.0,456.0,0.280615,1169.0,1625.0,78.0,38.0

In [19]:
gdf_county_polygon = gpd.read_file("shp/Florida_Counties.shp")
gdf_county_polygon.head()

,OBJECTID,DEPCODE,COUNTY,COUNTYNAME,DATESTAMP,ShapeSTAre,ShapeSTLen,geometry
0,1,21,041,Gilchrist,2000-05-16,9.908353e+09,4.873000e+05,"POLYGON ((-82.65814 29.83028, -82.65803 29.822..."
1,2,54,107,Putnam,2000-05-16,2.305869e+10,7.629677e+05,"POLYGON ((-81.58084 29.83956, -81.57893 29.835..."
2,3,62,123,Taylor,2000-05-16,2.891747e+10,8.772527e+05,"MULTIPOLYGON (((-83.73037 30.30358, -83.70368 ..."
3,4,46,091,Okaloosa,2000-05-16,2.562159e+10,1.087058e+06,"MULTIPOLYGON (((-86.39159 30.64970, -86.39175 ..."
4,5,7,013,Calhoun,2000-05-16,1.604809e+10,6.313440e+05,"POLYGON ((-84.93266 30.60637, -84.93287 30.605..."

In [20]:
a = set(df_reset_index['County'].values)
b = set(gdf_county_polygon['COUNTYNAME'].values)
a.difference(b)

{'A State', 'Miami-Dade'}

In [21]:
b.difference(a)

{'Dade',
 'Dixie',
 'Gilchrist',
 'Glades',
 'Hamilton',
 'Jefferson',
 'Lafayette',
 'Levy',
 'Liberty',
 'Wakulla'}

In [22]:
df_reset_index.loc[df_reset_index['County']=='Miami-Dade','County']='Dade'

In [23]:
a = set(df_reset_index['County'].values)
b = set(gdf_county_polygon['COUNTYNAME'].values)
a.difference(b)

{'A State'}

In [24]:
df_merge_poly = pd.merge(df_reset_index, gdf_county_polygon, left_on = ['County'],right_on = ['COUNTYNAME'], how = 'outer')
df_merge_poly

,index,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,...,New_hosp,Avail_ICU,OBJECTID,DEPCODE,COUNTY,COUNTYNAME,DATESTAMP,ShapeSTAre,ShapeSTLen,geometry
0,0.0,Alachua,272.0,36.0,0.116883,8.0,0.170213,39.0,308.0,47.0,...,69.0,44.0,66.0,1.0,001,Alachua,2000-05-16,2.702324e+10,8.927266e+05,"POLYGON ((-82.41869 29.92298, -82.41825 29.922..."
1,1.0,Baker,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,1.0,0.0,17.0,2.0,003,Baker,2000-05-16,1.636216e+10,6.027173e+05,"POLYGON ((-82.05012 30.36233, -82.04949 30.316..."
2,2.0,Bay,55.0,0.0,0.000000,2.0,0.500000,2.0,55.0,4.0,...,28.0,2.0,15.0,3.0,005,Bay,2000-05-16,2.084232e+10,1.834701e+06,"MULTIPOLYGON (((-85.38551 30.50018, -85.38650 ..."
3,3.0,Bradford,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,40.0,4.0,007,Bradford,2000-05-16,8.359863e+09,5.483267e+05,"POLYGON ((-82.04939 30.14322, -82.04938 30.143..."
4,4.0,Brevard,127.0,38.0,0.230303,0.0,0.000000,0.0,165.0,0.0,...,78.0,38.0,42.0,5.0,009,Brevard,2000-05-16,2.893695e+10,2.600567e+06,"MULTIPOLYGON (((-80.80666 28.61413, -80.80790 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.0,15.0,029,Dixie,2000-05-16,1.963495e+10,7.718929e+05,"MULTIPOLYGON (((-83.24986 29.82302, -83.23964 ..."
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,28.0,38.0,075,Levy,2000-05-16,3.122285e+10,1.113561e+06,"MULTIPOLYGON (((-82.92321 29.59089, -82.87460 ..."
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.0,34.0,067,Lafayette,2000-05-16,1.526457e+10,6.340132e+05,"POLYGON ((-83.24902 30.26044, -83.24970 30.260..."
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,41.0,65.0,129,Wakulla,2000-05-16,1.702251e+10,9.167339e+05,"MULTIPOLYGON (((-84.41197 30.30244, -84.37858 ..."
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,55.0,22.0,043,Glades,2000-05-16,2.747053e+10,7.769734e+05,"POLYGON ((-80.94082 27.20607, -80.94072 27.205..."

In [25]:
df_merge_poly1 = df_merge_poly.drop(columns=['OBJECTID','DEPCODE','COUNTY','DATESTAMP','ShapeSTLen','ShapeSTAre'])
df_merge_poly1.head()

,index,County,AICU_Census,AICU_Avail,A_ICU,PICU_Avail,P_ICU,PICU_Census,T_AICU,T_PICU,Bed_Avail,Bed_AP,Bed Census,T_bed,New_hosp,Avail_ICU,COUNTYNAME,geometry
0,0.0,Alachua,272.0,36.0,0.116883,8.0,0.170213,39.0,308.0,47.0,233.0,0.133524,1512.0,1745.0,69.0,44.0,Alachua,"POLYGON ((-82.41869 29.92298, -82.41825 29.922..."
1,1.0,Baker,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,124.0,0.198400,501.0,625.0,1.0,0.0,Baker,"POLYGON ((-82.05012 30.36233, -82.04949 30.316..."
2,2.0,Bay,55.0,0.0,0.000000,2.0,0.500000,2.0,55.0,4.0,95.0,0.168739,468.0,563.0,28.0,2.0,Bay,"MULTIPOLYGON (((-85.38551 30.50018, -85.38650 ..."
3,3.0,Bradford,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.0,0.500000,5.0,10.0,0.0,0.0,Bradford,"POLYGON ((-82.04939 30.14322, -82.04938 30.143..."
4,4.0,Brevard,127.0,38.0,0.230303,0.0,0.000000,0.0,165.0,0.0,456.0,0.280615,1169.0,1625.0,78.0,38.0,Brevard,"MULTIPOLYGON (((-80.80666 28.61413, -80.80790 ..."

In [26]:
shpfile_name = "Florida_County_Hospital_ICU{}".format(yearDate)
gdf_merge = gpd.GeoDataFrame(df_merge_poly1, geometry='geometry',crs="EPSG:4326")
gdf_merge.to_file(os.path.join(result_folder,"{}.shp".format(shpfile_name)))

In [27]:
with ZipFile(os.path.join('publish', '{}.zip'.format(shpfile_name)), 'w') as zipObj:
    for file in os.listdir(result_folder):
        if shpfile_name in file:
            file_path = os.path.join(result_folder, file)
            print(file)
            try:
                zipObj.write(file_path, os.path.basename(file_path))
            except OSError as err:
                print("OS error: {0}".format(err))

Florida_County_Hospital_ICU111320.prj
Florida_County_Hospital_ICU111320.dbf
Florida_County_Hospital_ICU111320.shx
Florida_County_Hospital_ICU111320.cpg
Florida_County_Hospital_ICU111320.shp

In [28]:
print('Done!!!')

Done!!!