In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
from zipfile import ZipFile
from datetime import date, timedelta

In [2]:
yearDate = date.today().strftime('%m%d%y')
print(yearDate)
yearDate_long = date.today().strftime('%m/%d/%y')
print(yearDate_long)
yesterday = date.today() - timedelta(days=1)
yearDate_yesterday = yesterday.strftime('%m%d%y')
print(yearDate_yesterday)

111320
11/13/20
111220

In [3]:
covid_cases_file = "data/Florida_COVID19_Cases_by_County{}.xlsx".format(yearDate)
df_covid_cases = pd.read_excel(covid_cases_file, sheet_name = 'Florida_COVID19_Cases_by_County')
df_covid_case = df_covid_cases.drop(columns=['Unnamed: 0'],axis=1)
df_covid_case.head()

,OBJECTID,OBJECTID_12_13,DEPCODE,COUNTY,COUNTYNAME,County_1,State,PUIsTotal,Age_0_4,Age_5_14,...,EverMon,MonNow,Shape__Area,Shape__Length,GlobalID,NewPos,NewNeg,NewTested,NewPercPos,MedianAge
0,66,66,1,1,ALACHUA,Alachua,FL,26524,414,681,...,1752,1729,2.510756e+09,272135.471452,9eddb8fb-00dd-45f1-a09d-8e689049e28a,75,1083,1158,0.064767,24
1,17,17,2,3,BAKER,Baker,FL,3146,71,153,...,2209,2208,1.520246e+09,183737.354704,393e3bc9-079e-4ad6-9162-d77ee72feb59,9,51,60,0.150000,41
2,15,15,3,5,BAY,Bay,FL,10956,138,328,...,1985,1978,1.930771e+09,558412.990826,a66f3b06-8ee0-4dec-843e-f41d712aad2f,51,412,463,0.110151,42
3,40,40,4,7,BRADFORD,Bradford,FL,2966,69,160,...,1896,1865,7.767446e+08,167178.838253,588f1d06-056b-4af5-a2e7-a5366c833ba5,2,69,71,0.028169,46
4,42,42,5,9,BREVARD,Brevard,FL,32305,415,992,...,3245,3187,2.687644e+09,793218.333609,943db4a8-472c-444e-b81a-0e7cf9758ca2,145,1312,1457,0.099520,44

In [4]:
df_new_case = df_covid_cases[['County_1','NewPos']].copy()
df_new_case.head()

   County_1  NewPos
0   Alachua      75
1     Baker       9
2       Bay      51
3  Bradford       2
4   Brevard     145

In [5]:
df_new_tested = df_covid_cases[['County_1','NewTested']].copy()
df_new_tested.head()

   County_1  NewTested
0   Alachua       1158
1     Baker         60
2       Bay        463
3  Bradford         71
4   Brevard       1457

In [6]:
result_folder = 'results/{}'.format(yearDate)
if not os.path.exists(result_folder):
    os.makedirs(result_folder)

In [7]:
hosp_file = os.path.join(result_folder,"FL_County_Hospital_ICU{}.xlsx".format(yearDate))
df_hosps = pd.read_excel(hosp_file, sheet_name = 'Sheet1')
df_hosp = df_hosps.drop(columns=['Unnamed: 0'],axis=1)
df_hosp.head()

,County,Adult ICU Census,Available Adult ICU,Available Adult ICU%,Available Pediatric ICU,Available Pediatric ICU%,Pediatric ICU Census,Total AdultICU Capacity,Total PediatricICU Capacity,Available,Available Capacity,Bed Census,Total Staffed Bed Capacity,COVID Hospitalizations
0,ALACHUA,272,36,0.116883,8,0.170213,39,308,47,233,0.133524,1512,1745,69
1,BAKER,0,0,0.000000,0,0.000000,0,0,0,124,0.198400,501,625,1
2,BAY,55,0,0.000000,2,0.500000,2,55,4,95,0.168739,468,563,28
3,BRADFORD,0,0,0.000000,0,0.000000,0,0,0,5,0.500000,5,10,0
4,BREVARD,127,38,0.230303,0,0.000000,0,165,0,456,0.280615,1169,1625,78

In [8]:
df_new_hosp = df_hosp[['County', 'COVID Hospitalizations']].copy()
df_new_hosp.head()

     County  COVID Hospitalizations
0   ALACHUA                      69
1     BAKER                       1
2       BAY                      28
3  BRADFORD                       0
4   BREVARD                      78

In [9]:
covid_update_file = os.path.join('results/{}'.format(yearDate_yesterday),"COVID_daily_update{}.xlsx".format(yearDate_yesterday))
df_NewPositives = pd.read_excel(covid_update_file, sheet_name = 'NewPositive')
df_NewTesteds = pd.read_excel(covid_update_file, sheet_name = 'NewTested')
df_Hospitalizations = pd.read_excel(covid_update_file, sheet_name = 'Hospitalization')

In [10]:
# remove first unnamed column
df_Hospitalization = df_Hospitalizations.drop(columns=['Unnamed: 0'],axis=1)
df_NewPositive = df_NewPositives.drop(columns=['Unnamed: 0'],axis=1)
df_NewTested = df_NewTesteds.drop(columns=['Unnamed: 0'],axis=1)

In [11]:
df_NewPositive.head()

,DEPCODE,COUNTY,COUNTYNAME,County_1,2020-09-14 00:00:00,2020-09-15 00:00:00,2020-09-16 00:00:00,2020-09-17 00:00:00,2020-09-18 00:00:00,2020-09-19 00:00:00,...,11/03/2020,11/04/2020,11/05/2020,11/06/2020,11/07/2020,11/08/2020,11/09/20,11/10/20,11/11/20,11/12/20
0,1,1,ALACHUA,Alachua,114,86,146,160,176,172,...,70,70,74,48,24,43,130,75,91,94
1,2,3,BAKER,Baker,10,9,11,20,15,13,...,9,7,13,4,2,5,5,12,4,8
2,3,5,BAY,Bay,13,27,12,21,14,37,...,62,33,45,27,19,30,80,58,67,36
3,4,7,BRADFORD,Bradford,4,6,18,23,15,17,...,3,0,8,4,1,7,4,8,10,3
4,5,9,BREVARD,Brevard,36,57,47,95,72,90,...,149,159,122,109,145,111,96,148,172,70

In [12]:
df_NewPositive_merge = pd.merge(df_NewPositive, df_new_case, left_on=['County_1'],right_on= ['County_1'], how = 'outer')
df_NewPositive_new = df_NewPositive_merge.rename(columns={"NewPos":yearDate_long})
df_NewPositive_new.head()

,DEPCODE,COUNTY,COUNTYNAME,County_1,2020-09-14 00:00:00,2020-09-15 00:00:00,2020-09-16 00:00:00,2020-09-17 00:00:00,2020-09-18 00:00:00,2020-09-19 00:00:00,...,11/04/2020,11/05/2020,11/06/2020,11/07/2020,11/08/2020,11/09/20,11/10/20,11/11/20,11/12/20,11/13/20
0,1,1,ALACHUA,Alachua,114,86,146,160,176,172,...,70,74,48,24,43,130,75,91,94,75
1,2,3,BAKER,Baker,10,9,11,20,15,13,...,7,13,4,2,5,5,12,4,8,9
2,3,5,BAY,Bay,13,27,12,21,14,37,...,33,45,27,19,30,80,58,67,36,51
3,4,7,BRADFORD,Bradford,4,6,18,23,15,17,...,0,8,4,1,7,4,8,10,3,2
4,5,9,BREVARD,Brevard,36,57,47,95,72,90,...,159,122,109,145,111,96,148,172,70,145

In [13]:
df_NewTested_merge = pd.merge(df_NewTested, df_new_tested, left_on=['County_1'],right_on= ['County_1'], how = 'outer')
df_NewTested_new = df_NewTested_merge.rename(columns={"NewTested":yearDate_long})
df_NewTested_new.head()

,DEPCODE,COUNTY,COUNTYNAME,County_1,2020-09-14 00:00:00,2020-09-15 00:00:00,2020-09-16 00:00:00,2020-09-17 00:00:00,2020-09-18 00:00:00,2020-09-19 00:00:00,...,11/04/2020,11/05/2020,11/06/2020,11/07/2020,11/08/2020,11/09/20,11/10/20,11/11/20,11/12/20,11/13/20
0,1,1,ALACHUA,Alachua,955,1290,1016,1426,2055,2202,...,1020,1614,1516,684,614,3646,1121,1901,1787,1158
1,2,3,BAKER,Baker,54,60,68,67,235,124,...,93,79,82,36,101,98,178,119,82,60
2,3,5,BAY,Bay,194,93,273,314,167,359,...,358,724,307,319,352,211,771,623,587,463
3,4,7,BRADFORD,Bradford,63,73,75,96,114,143,...,49,138,65,11,51,49,69,127,40,71
4,5,9,BREVARD,Brevard,1363,1133,671,1440,1806,1579,...,1073,1574,1153,1335,1923,1107,1342,1288,2115,1457

In [14]:
df_Hospitalization_merge = pd.merge(df_Hospitalization, df_new_hosp, left_on=['County'],right_on= ['County'], how='outer')
df_Hospitalization_new = df_Hospitalization_merge.rename(columns={"COVID Hospitalizations":yearDate_long})
df_Hospitalization_new.head()

,ID,County,2020-09-14 00:00:00,2020-09-15 00:00:00,2020-09-16 00:00:00,2020-09-17 00:00:00,2020-09-18 00:00:00,2020-09-19 00:00:00,2020-09-20 00:00:00,2020-09-21 00:00:00,...,11/04/2020,11/05/2020,11/06/2020,11/07/2020,11/08/2020,11/09/20,11/10/20,11/11/20,11/12/20,11/13/20
0,0,ALACHUA,87,83,89,77,68,70,69,72,...,58,60,61,64,69,71,73,74,74,69
1,1,BAKER,21,12,12,15,16,16,16,13,...,2,2,1,0,1,1,1,0,1,1
2,2,BAY,24,25,26,29,27,27,28,24,...,16,15,18,18,19,19,23,22,31,28
3,3,BRADFORD,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,BREVARD,58,53,46,42,44,50,46,43,...,70,66,69,72,71,73,81,72,74,78

In [15]:
# Export updated covid data to excel file
with pd.ExcelWriter(os.path.join(result_folder,'COVID_daily_update{}.xlsx'.format(yearDate))) as writer:  
    df_NewPositive_new.to_excel(writer, sheet_name='NewPositive')
    df_NewTested_new.to_excel(writer, sheet_name='NewTested')
    df_Hospitalization_new.to_excel(writer, sheet_name='Hospitalization')

In [16]:
df_NewPositive_new['7dayPos'] = df_NewPositive_new.iloc[:,-7:].sum(axis=1)
df_NewPositive_new['14dayPos'] = df_NewPositive_new.iloc[:,-15:-1].sum(axis=1)
df_NewPositive_new

,DEPCODE,COUNTY,COUNTYNAME,County_1,2020-09-14 00:00:00,2020-09-15 00:00:00,2020-09-16 00:00:00,2020-09-17 00:00:00,2020-09-18 00:00:00,2020-09-19 00:00:00,...,11/06/2020,11/07/2020,11/08/2020,11/09/20,11/10/20,11/11/20,11/12/20,11/13/20,7dayPos,14dayPos
0,1,1,ALACHUA,Alachua,114,86,146,160,176,172,...,48,24,43,130,75,91,94,75,532,989
1,2,3,BAKER,Baker,10,9,11,20,15,13,...,4,2,5,5,12,4,8,9,45,94
2,3,5,BAY,Bay,13,27,12,21,14,37,...,27,19,30,80,58,67,36,51,341,535
3,4,7,BRADFORD,Bradford,4,6,18,23,15,17,...,4,1,7,4,8,10,3,2,35,54
4,5,9,BREVARD,Brevard,36,57,47,95,72,90,...,109,145,111,96,148,172,70,145,887,1626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,65,129,WAKULLA,Wakulla,19,14,8,12,8,14,...,12,6,12,1,20,12,11,15,77,116
65,66,131,WALTON,Walton,17,9,14,5,3,8,...,78,237,61,16,22,20,34,39,429,631
66,67,133,WASHINGTON,Washington,0,2,3,0,1,3,...,4,10,4,9,8,1,2,22,56,99
67,998,998,A State,State,1827,2701,2340,3309,3239,3603,...,5195,4404,6641,3876,4316,5719,5534,6787,37277,67494
68,999,999,Unknown,Unknown,0,0,0,2,0,1,...,1,0,2,0,0,0,2,1,5,10

In [17]:
df_NewTested_new['7dayTested'] = df_NewTested_new.iloc[:,-7:].sum(axis=1)
df_NewTested_new['14dayTested'] = df_NewTested_new.iloc[:,-15:-1].sum(axis=1)
df_NewTested_new

,DEPCODE,COUNTY,COUNTYNAME,County_1,2020-09-14 00:00:00,2020-09-15 00:00:00,2020-09-16 00:00:00,2020-09-17 00:00:00,2020-09-18 00:00:00,2020-09-19 00:00:00,...,11/06/2020,11/07/2020,11/08/2020,11/09/20,11/10/20,11/11/20,11/12/20,11/13/20,7dayTested,14dayTested
0,1,1,ALACHUA,Alachua,955,1290,1016,1426,2055,2202,...,1516,684,614,3646,1121,1901,1787,1158,10911,20431
1,2,3,BAKER,Baker,54,60,68,67,235,124,...,82,36,101,98,178,119,82,60,674,1278
2,3,5,BAY,Bay,194,93,273,314,167,359,...,307,319,352,211,771,623,587,463,3326,5962
3,4,7,BRADFORD,Bradford,63,73,75,96,114,143,...,65,11,51,49,69,127,40,71,418,858
4,5,9,BREVARD,Brevard,1363,1133,671,1440,1806,1579,...,1153,1335,1923,1107,1342,1288,2115,1457,10567,19627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,65,129,WAKULLA,Wakulla,126,76,58,198,129,208,...,172,54,239,28,154,167,148,158,948,1714
65,66,131,WALTON,Walton,114,112,148,144,142,203,...,232,1231,457,104,195,175,225,163,2550,3804
66,67,133,WASHINGTON,Washington,75,26,25,67,18,52,...,57,21,35,13,42,23,32,52,218,758
67,998,998,A State,State,47014,64194,52537,74522,77646,79780,...,81911,53350,106856,48365,52115,73420,75557,85600,495263,986325
68,999,999,Unknown,Unknown,243,8416,360,336,271,428,...,557,610,713,496,34,373,291,486,3003,5720

In [18]:
df_Hospitalization_new.iloc[:,-1]

0       69
1        1
2       28
3        0
4       78
5      307
6        0
7       50
8       34
9       31
10      69
11       8
12       2
13     199
14      68
15       9
16       0
17       0
18       0
19       0
20       1
21      49
22      54
23     199
24       0
25      14
26      26
27      41
28      76
29      30
30       0
31      29
32      40
33      11
34     433
35       6
36       2
37      43
38       5
39     156
40      79
41     232
42      93
43     162
44      91
45      11
46       8
47      86
48      47
49       9
50      47
51      17
52       0
53       0
54       2
55      58
56      14
57       5
58    3129
Name: 11/13/20, dtype: int64

In [19]:
df_Hospitalization_new['NewHosp14AVE'] = (df_Hospitalization_new.iloc[:,-1] - df_Hospitalization_new.iloc[:,-15])/14
df_Hospitalization_new['Hosp14AVE'] = df_Hospitalization_new.iloc[:,-15:-1].mean(axis=1)
df_Hospitalization_new['Hosp7AVE'] = df_Hospitalization_new.iloc[:,-9:-2].mean(axis=1)
df_Hospitalization_new.head()

,ID,County,2020-09-14 00:00:00,2020-09-15 00:00:00,2020-09-16 00:00:00,2020-09-17 00:00:00,2020-09-18 00:00:00,2020-09-19 00:00:00,2020-09-20 00:00:00,2020-09-21 00:00:00,...,11/07/2020,11/08/2020,11/09/20,11/10/20,11/11/20,11/12/20,11/13/20,NewHosp14AVE,Hosp14AVE,Hosp7AVE
0,0,ALACHUA,87,83,89,77,68,70,69,72,...,64,69,71,73,74,74,69,0.214286,66.642857,70.571429
1,1,BAKER,21,12,12,15,16,16,16,13,...,0,1,1,1,0,1,1,-0.071429,1.714286,0.714286
2,2,BAY,24,25,26,29,27,27,28,24,...,18,19,19,23,22,31,28,0.500000,20.357143,22.857143
3,3,BRADFORD,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.000000,0.000000,0.000000
4,4,BREVARD,58,53,46,42,44,50,46,43,...,72,71,73,81,72,74,78,0.714286,71.071429,74.428571

In [20]:
df_case_merge = pd.merge(df_NewPositive_new,df_NewTested_new, left_on = ['County_1'], right_on = ['County_1'], how="outer")
df_case_merge

,DEPCODE_x,COUNTY_x,COUNTYNAME_x,County_1,2020-09-14 00:00:00_x,2020-09-15 00:00:00_x,2020-09-16 00:00:00_x,2020-09-17 00:00:00_x,2020-09-18 00:00:00_x,2020-09-19 00:00:00_x,...,11/06/2020_y,11/07/2020_y,11/08/2020_y,11/09/20_y,11/10/20_y,11/11/20_y,11/12/20_y,11/13/20_y,7dayTested,14dayTested
0,1,1,ALACHUA,Alachua,114,86,146,160,176,172,...,1516,684,614,3646,1121,1901,1787,1158,10911,20431
1,2,3,BAKER,Baker,10,9,11,20,15,13,...,82,36,101,98,178,119,82,60,674,1278
2,3,5,BAY,Bay,13,27,12,21,14,37,...,307,319,352,211,771,623,587,463,3326,5962
3,4,7,BRADFORD,Bradford,4,6,18,23,15,17,...,65,11,51,49,69,127,40,71,418,858
4,5,9,BREVARD,Brevard,36,57,47,95,72,90,...,1153,1335,1923,1107,1342,1288,2115,1457,10567,19627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,65,129,WAKULLA,Wakulla,19,14,8,12,8,14,...,172,54,239,28,154,167,148,158,948,1714
65,66,131,WALTON,Walton,17,9,14,5,3,8,...,232,1231,457,104,195,175,225,163,2550,3804
66,67,133,WASHINGTON,Washington,0,2,3,0,1,3,...,57,21,35,13,42,23,32,52,218,758
67,998,998,A State,State,1827,2701,2340,3309,3239,3603,...,81911,53350,106856,48365,52115,73420,75557,85600,495263,986325
68,999,999,Unknown,Unknown,0,0,0,2,0,1,...,557,610,713,496,34,373,291,486,3003,5720

In [21]:
df_case = df_case_merge[['DEPCODE_x','County_1','COUNTYNAME_x','7dayPos','14dayPos','7dayTested','14dayTested']].copy()
df_case

,DEPCODE_x,County_1,COUNTYNAME_x,7dayPos,14dayPos,7dayTested,14dayTested
0,1,Alachua,ALACHUA,532,989,10911,20431
1,2,Baker,BAKER,45,94,674,1278
2,3,Bay,BAY,341,535,3326,5962
3,4,Bradford,BRADFORD,35,54,418,858
4,5,Brevard,BREVARD,887,1626,10567,19627
...,...,...,...,...,...,...,...
64,65,Wakulla,WAKULLA,77,116,948,1714
65,66,Walton,WALTON,429,631,2550,3804
66,67,Washington,WASHINGTON,56,99,218,758
67,998,State,A State,37277,67494,495263,986325
68,999,Unknown,Unknown,5,10,3003,5720

In [22]:
df_case['7daysPRate']=df_case['7dayPos']/df_case['7dayTested']
df_case['14daysPRate']=df_case['14dayPos']/df_case['14dayTested']
df_case['WeekPR_Ratio']=df_case['7daysPRate']/((df_case['14dayPos']-df_case['7dayPos'])/(df_case['14dayTested']-df_case['7dayTested']))
df_case['WeekPosi_Ratio']=df_case['7dayPos']/(df_case['14dayPos']-df_case['7dayPos'])

In [23]:
df_case

,DEPCODE_x,County_1,COUNTYNAME_x,7dayPos,14dayPos,7dayTested,14dayTested,7daysPRate,14daysPRate,WeekPR_Ratio,WeekPosi_Ratio
0,1,Alachua,ALACHUA,532,989,10911,20431,0.048758,0.048407,1.015706,1.164114
1,2,Baker,BAKER,45,94,674,1278,0.066766,0.073552,0.822988,0.918367
2,3,Bay,BAY,341,535,3326,5962,0.102526,0.089735,1.393079,1.757732
3,4,Bradford,BRADFORD,35,54,418,858,0.083732,0.062937,1.939058,1.842105
4,5,Brevard,BREVARD,887,1626,10567,19627,0.083941,0.082845,1.029095,1.200271
...,...,...,...,...,...,...,...,...,...,...,...
64,65,Wakulla,WAKULLA,77,116,948,1714,0.081224,0.067678,1.595315,1.974359
65,66,Walton,WALTON,429,631,2550,3804,0.168235,0.165878,1.044391,2.123762
66,67,Washington,WASHINGTON,56,99,218,758,0.256881,0.130607,3.225944,1.302326
67,998,State,A State,37277,67494,495263,986325,0.075267,0.068430,1.223179,1.233643
68,999,Unknown,Unknown,5,10,3003,5720,0.001665,0.001748,0.904762,1.000000

In [24]:
df_hosp_14 = df_Hospitalization_new[['County','NewHosp14AVE','Hosp14AVE','Hosp7AVE']].copy()
df_hosp_14new = df_hosp_14.astype({'NewHosp14AVE': 'int64','Hosp14AVE': 'int64'})
df_hosp_14new.head()

     County  NewHosp14AVE  Hosp14AVE   Hosp7AVE
0   ALACHUA             0         66  70.571429
1     BAKER             0          1   0.714286
2       BAY             0         20  22.857143
3  BRADFORD             0          0   0.000000
4   BREVARD             0         71  74.428571

In [25]:
a = set(df_case['COUNTYNAME_x'].values)
b = set(df_hosp_14new['County'].values)

In [26]:
b.difference(a)

{'MIAMI-DADE'}

In [27]:
df_hosp_14new.loc[df_hosp_14new['County']=='MIAMI-DADE','County']='DADE'

In [28]:
a = set(df_case['COUNTYNAME_x'].values)
b = set(df_hosp_14new['County'].values)
b.difference(a)

set()

In [29]:
df_merge = pd.merge(df_case, df_hosp_14new, left_on=['COUNTYNAME_x'],right_on= ['County'], how = 'left')
df_merge['WeekHosp_Ratio']=df_merge['Hosp7AVE']/(df_merge['Hosp14AVE']*14-df_merge['Hosp7AVE']*7)*7
df_merge.head(len(df_merge))

,DEPCODE_x,County_1,COUNTYNAME_x,7dayPos,14dayPos,7dayTested,14dayTested,7daysPRate,14daysPRate,WeekPR_Ratio,WeekPosi_Ratio,County,NewHosp14AVE,Hosp14AVE,Hosp7AVE,WeekHosp_Ratio
0,1,Alachua,ALACHUA,532,989,10911,20431,0.048758,0.048407,1.015706,1.164114,ALACHUA,0.0,66.0,70.571429,1.148837
1,2,Baker,BAKER,45,94,674,1278,0.066766,0.073552,0.822988,0.918367,BAKER,0.0,1.0,0.714286,0.555556
2,3,Bay,BAY,341,535,3326,5962,0.102526,0.089735,1.393079,1.757732,BAY,0.0,20.0,22.857143,1.333333
3,4,Bradford,BRADFORD,35,54,418,858,0.083732,0.062937,1.939058,1.842105,BRADFORD,0.0,0.0,0.000000,NaN
4,5,Brevard,BREVARD,887,1626,10567,19627,0.083941,0.082845,1.029095,1.200271,BREVARD,0.0,71.0,74.428571,1.101480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,65,Wakulla,WAKULLA,77,116,948,1714,0.081224,0.067678,1.595315,1.974359,NaN,NaN,NaN,NaN,NaN
65,66,Walton,WALTON,429,631,2550,3804,0.168235,0.165878,1.044391,2.123762,WALTON,0.0,10.0,13.000000,1.857143
66,67,Washington,WASHINGTON,56,99,218,758,0.256881,0.130607,3.225944,1.302326,WASHINGTON,0.0,2.0,3.714286,13.000000
67,998,State,A State,37277,67494,495263,986325,0.075267,0.068430,1.223179,1.233643,A State,55.0,2702.0,2947.714286,1.200070
68,999,Unknown,Unknown,5,10,3003,5720,0.001665,0.001748,0.904762,1.000000,NaN,NaN,NaN,NaN,NaN

In [30]:
df_sort = df_merge.sort_values(by=['DEPCODE_x'])
df_sort['County']=df_sort['County'].str.title()
df_sort

,DEPCODE_x,County_1,COUNTYNAME_x,7dayPos,14dayPos,7dayTested,14dayTested,7daysPRate,14daysPRate,WeekPR_Ratio,WeekPosi_Ratio,County,NewHosp14AVE,Hosp14AVE,Hosp7AVE,WeekHosp_Ratio
0,1,Alachua,ALACHUA,532,989,10911,20431,0.048758,0.048407,1.015706,1.164114,Alachua,0.0,66.0,70.571429,1.148837
1,2,Baker,BAKER,45,94,674,1278,0.066766,0.073552,0.822988,0.918367,Baker,0.0,1.0,0.714286,0.555556
2,3,Bay,BAY,341,535,3326,5962,0.102526,0.089735,1.393079,1.757732,Bay,0.0,20.0,22.857143,1.333333
3,4,Bradford,BRADFORD,35,54,418,858,0.083732,0.062937,1.939058,1.842105,Bradford,0.0,0.0,0.000000,NaN
4,5,Brevard,BREVARD,887,1626,10567,19627,0.083941,0.082845,1.029095,1.200271,Brevard,0.0,71.0,74.428571,1.101480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,65,Wakulla,WAKULLA,77,116,948,1714,0.081224,0.067678,1.595315,1.974359,NaN,NaN,NaN,NaN,NaN
65,66,Walton,WALTON,429,631,2550,3804,0.168235,0.165878,1.044391,2.123762,Walton,0.0,10.0,13.000000,1.857143
66,67,Washington,WASHINGTON,56,99,218,758,0.256881,0.130607,3.225944,1.302326,Washington,0.0,2.0,3.714286,13.000000
67,998,State,A State,37277,67494,495263,986325,0.075267,0.068430,1.223179,1.233643,A State,55.0,2702.0,2947.714286,1.200070
68,999,Unknown,Unknown,5,10,3003,5720,0.001665,0.001748,0.904762,1.000000,NaN,NaN,NaN,NaN,NaN

In [31]:
df_sort_drop_unknown = df_sort.drop([68])
df_sort_drop_unknown

,DEPCODE_x,County_1,COUNTYNAME_x,7dayPos,14dayPos,7dayTested,14dayTested,7daysPRate,14daysPRate,WeekPR_Ratio,WeekPosi_Ratio,County,NewHosp14AVE,Hosp14AVE,Hosp7AVE,WeekHosp_Ratio
0,1,Alachua,ALACHUA,532,989,10911,20431,0.048758,0.048407,1.015706,1.164114,Alachua,0.0,66.0,70.571429,1.148837
1,2,Baker,BAKER,45,94,674,1278,0.066766,0.073552,0.822988,0.918367,Baker,0.0,1.0,0.714286,0.555556
2,3,Bay,BAY,341,535,3326,5962,0.102526,0.089735,1.393079,1.757732,Bay,0.0,20.0,22.857143,1.333333
3,4,Bradford,BRADFORD,35,54,418,858,0.083732,0.062937,1.939058,1.842105,Bradford,0.0,0.0,0.000000,NaN
4,5,Brevard,BREVARD,887,1626,10567,19627,0.083941,0.082845,1.029095,1.200271,Brevard,0.0,71.0,74.428571,1.101480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,64,Volusia,VOLUSIA,669,1236,8065,16425,0.082951,0.075251,1.223052,1.179894,Volusia,0.0,58.0,62.142857,1.153846
64,65,Wakulla,WAKULLA,77,116,948,1714,0.081224,0.067678,1.595315,1.974359,NaN,NaN,NaN,NaN,NaN
65,66,Walton,WALTON,429,631,2550,3804,0.168235,0.165878,1.044391,2.123762,Walton,0.0,10.0,13.000000,1.857143
66,67,Washington,WASHINGTON,56,99,218,758,0.256881,0.130607,3.225944,1.302326,Washington,0.0,2.0,3.714286,13.000000
67,998,State,A State,37277,67494,495263,986325,0.075267,0.068430,1.223179,1.233643,A State,55.0,2702.0,2947.714286,1.200070

In [32]:
df_sort_drop_unknown.to_excel(os.path.join(result_folder,"COVID_14_update{}.xlsx".format(yearDate)))

In [33]:
gdf_county_polygon = gpd.read_file("shp/Florida_Counties.shp")
gdf_county_polygon.head()

,OBJECTID,DEPCODE,COUNTY,COUNTYNAME,DATESTAMP,ShapeSTAre,ShapeSTLen,geometry
0,1,21,041,Gilchrist,2000-05-16,9.908353e+09,4.873000e+05,"POLYGON ((-82.65814 29.83028, -82.65803 29.822..."
1,2,54,107,Putnam,2000-05-16,2.305869e+10,7.629677e+05,"POLYGON ((-81.58084 29.83956, -81.57893 29.835..."
2,3,62,123,Taylor,2000-05-16,2.891747e+10,8.772527e+05,"MULTIPOLYGON (((-83.73037 30.30358, -83.70368 ..."
3,4,46,091,Okaloosa,2000-05-16,2.562159e+10,1.087058e+06,"MULTIPOLYGON (((-86.39159 30.64970, -86.39175 ..."
4,5,7,013,Calhoun,2000-05-16,1.604809e+10,6.313440e+05,"POLYGON ((-84.93266 30.60637, -84.93287 30.605..."

In [34]:
a = set(df_sort_drop_unknown['County_1'].values)
b = set(gdf_county_polygon['COUNTYNAME'].values)
a.difference(b)

{'State'}

In [35]:
b.difference(a)

set()

In [36]:
df_merge_poly = pd.merge(df_sort_drop_unknown, gdf_county_polygon, left_on = ['County_1'],right_on= ['COUNTYNAME'], how = 'outer')
df_merge_poly.head(len(df_merge_poly))

,DEPCODE_x,County_1,COUNTYNAME_x,7dayPos,14dayPos,7dayTested,14dayTested,7daysPRate,14daysPRate,WeekPR_Ratio,...,Hosp7AVE,WeekHosp_Ratio,OBJECTID,DEPCODE,COUNTY,COUNTYNAME,DATESTAMP,ShapeSTAre,ShapeSTLen,geometry
0,1,Alachua,ALACHUA,532,989,10911,20431,0.048758,0.048407,1.015706,...,70.571429,1.148837,66.0,1.0,001,Alachua,2000-05-16,2.702324e+10,8.927266e+05,"POLYGON ((-82.41869 29.92298, -82.41825 29.922..."
1,2,Baker,BAKER,45,94,674,1278,0.066766,0.073552,0.822988,...,0.714286,0.555556,17.0,2.0,003,Baker,2000-05-16,1.636216e+10,6.027173e+05,"POLYGON ((-82.05012 30.36233, -82.04949 30.316..."
2,3,Bay,BAY,341,535,3326,5962,0.102526,0.089735,1.393079,...,22.857143,1.333333,15.0,3.0,005,Bay,2000-05-16,2.084232e+10,1.834701e+06,"MULTIPOLYGON (((-85.38551 30.50018, -85.38650 ..."
3,4,Bradford,BRADFORD,35,54,418,858,0.083732,0.062937,1.939058,...,0.000000,NaN,40.0,4.0,007,Bradford,2000-05-16,8.359863e+09,5.483267e+05,"POLYGON ((-82.04939 30.14322, -82.04938 30.143..."
4,5,Brevard,BREVARD,887,1626,10567,19627,0.083941,0.082845,1.029095,...,74.428571,1.101480,42.0,5.0,009,Brevard,2000-05-16,2.893695e+10,2.600567e+06,"MULTIPOLYGON (((-80.80666 28.61413, -80.80790 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,64,Volusia,VOLUSIA,669,1236,8065,16425,0.082951,0.075251,1.223052,...,62.142857,1.153846,25.0,64.0,127,Volusia,2000-05-16,3.364565e+10,1.837936e+06,"MULTIPOLYGON (((-81.09705 29.35180, -81.09292 ..."
64,65,Wakulla,WAKULLA,77,116,948,1714,0.081224,0.067678,1.595315,...,NaN,NaN,41.0,65.0,129,Wakulla,2000-05-16,1.702251e+10,9.167339e+05,"MULTIPOLYGON (((-84.41197 30.30244, -84.37858 ..."
65,66,Walton,WALTON,429,631,2550,3804,0.168235,0.165878,1.044391,...,13.000000,1.857143,51.0,66.0,131,Walton,2000-05-16,2.926099e+10,1.216747e+06,"POLYGON ((-86.03523 30.98825, -86.03532 30.982..."
66,67,Washington,WASHINGTON,56,99,218,758,0.256881,0.130607,3.225944,...,3.714286,13.000000,53.0,67.0,133,Washington,2000-05-16,1.721229e+10,8.010119e+05,"POLYGON ((-85.43543 30.56727, -85.46843 30.567..."
67,998,State,A State,37277,67494,495263,986325,0.075267,0.068430,1.223179,...,2947.714286,1.200070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [37]:
df_merge_poly_clean = df_merge_poly.drop(columns=['DEPCODE_x','COUNTYNAME_x','COUNTY','OBJECTID','ShapeSTAre','ShapeSTLen','DATESTAMP'])
df_merge_poly_clean

,County_1,7dayPos,14dayPos,7dayTested,14dayTested,7daysPRate,14daysPRate,WeekPR_Ratio,WeekPosi_Ratio,County,NewHosp14AVE,Hosp14AVE,Hosp7AVE,WeekHosp_Ratio,DEPCODE,COUNTYNAME,geometry
0,Alachua,532,989,10911,20431,0.048758,0.048407,1.015706,1.164114,Alachua,0.0,66.0,70.571429,1.148837,1.0,Alachua,"POLYGON ((-82.41869 29.92298, -82.41825 29.922..."
1,Baker,45,94,674,1278,0.066766,0.073552,0.822988,0.918367,Baker,0.0,1.0,0.714286,0.555556,2.0,Baker,"POLYGON ((-82.05012 30.36233, -82.04949 30.316..."
2,Bay,341,535,3326,5962,0.102526,0.089735,1.393079,1.757732,Bay,0.0,20.0,22.857143,1.333333,3.0,Bay,"MULTIPOLYGON (((-85.38551 30.50018, -85.38650 ..."
3,Bradford,35,54,418,858,0.083732,0.062937,1.939058,1.842105,Bradford,0.0,0.0,0.000000,NaN,4.0,Bradford,"POLYGON ((-82.04939 30.14322, -82.04938 30.143..."
4,Brevard,887,1626,10567,19627,0.083941,0.082845,1.029095,1.200271,Brevard,0.0,71.0,74.428571,1.101480,5.0,Brevard,"MULTIPOLYGON (((-80.80666 28.61413, -80.80790 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Volusia,669,1236,8065,16425,0.082951,0.075251,1.223052,1.179894,Volusia,0.0,58.0,62.142857,1.153846,64.0,Volusia,"MULTIPOLYGON (((-81.09705 29.35180, -81.09292 ..."
64,Wakulla,77,116,948,1714,0.081224,0.067678,1.595315,1.974359,NaN,NaN,NaN,NaN,NaN,65.0,Wakulla,"MULTIPOLYGON (((-84.41197 30.30244, -84.37858 ..."
65,Walton,429,631,2550,3804,0.168235,0.165878,1.044391,2.123762,Walton,0.0,10.0,13.000000,1.857143,66.0,Walton,"POLYGON ((-86.03523 30.98825, -86.03532 30.982..."
66,Washington,56,99,218,758,0.256881,0.130607,3.225944,1.302326,Washington,0.0,2.0,3.714286,13.000000,67.0,Washington,"POLYGON ((-85.43543 30.56727, -85.46843 30.567..."
67,State,37277,67494,495263,986325,0.075267,0.068430,1.223179,1.233643,A State,55.0,2702.0,2947.714286,1.200070,NaN,NaN,None

In [38]:
shpfile_name = "covid_14_metrics{}".format(yearDate)
gdf_merge_poly = gpd.GeoDataFrame(df_merge_poly_clean, geometry='geometry',crs="EPSG:4326")
gdf_merge_poly.to_file(driver = 'ESRI Shapefile', filename= os.path.join(result_folder,"{}.shp".format(shpfile_name)))

In [39]:
with ZipFile(os.path.join('publish', '{}.zip'.format(shpfile_name)), 'w') as zipObj:
    for file in os.listdir(result_folder):
        if shpfile_name in file:
            file_path = os.path.join(result_folder, file)
            print(file)
            try:
                zipObj.write(file_path, os.path.basename(file_path))
            except OSError as err:
                print("OS error: {0}".format(err))

covid_14_metrics111320.dbf
covid_14_metrics111320.shp
covid_14_metrics111320.cpg
covid_14_metrics111320.shx
covid_14_metrics111320.prj

In [40]:
print('Done!!!!')

Done!!!!